/* --- about tabs content --- */

/* -- content container -- */
.contents
  min-height: 300px
  margin: 16px 0

/* -- calendar -- */
ul.Calendar
  margin: 32px 0
  padding: 0 0 0 32px
  list-style-type: none
  @media screen and (min-width: 600px)
    padding: 0 0 0 200px
  li
    position: relative
    padding: 16px 0
    &:before
      display: none
      content: ""
      position: absolute
      top: 0px
      left: -28px
      height: 100%
      width: 1px
      background-color: #ccc
      @media screen and (min-width: 600px)
        display: block

    &:after
      display: block
      content: ""
      position: absolute
      top: -2px
      left: -24px
      height: 8px
      width: 8px
      background-color: white
      border: 1px solid #ccc
      border-radius: 50%
      @media screen and (min-width: 600px)
        left: -32px
        top: 23px

    .date
      position: absolute
      left: 0px
      top: -8px
      width: 100%
      text-align: left
      font-weight: bold
      @media screen and (min-width: 600px)
        left: -184px
        top: 16px
        width: 136px
        text-align: right
    .text
