/* --- Admin forms styles --- */
.AdminForms
  input:-webkit-autofill
    background-color: transparent
  .form-group
    margin-bottom: 35px
    position: relative
    input[type=text], input[type=email], input[type=password]
      border: 0px
      box-shadow: none
      background-color: transparent
      border-radius: 0px
      border-bottom: 2px solid #1e384f
      padding-left: 0px

      -ms-transform-origin: 50%; /* IE 9 */
      -webkit-transform-origin: 50%


      &:hover, &:focus, &:active
        outline: none
        box-shadow: none

      &:focus, &:active
        border-bottom-color: #4984b9
        transition: all 0.3s ease-in

    button
      float: right
      background-color: #1e384f
      border-radius: 1px
      border: 2px solid #1e384f
      color: rgba(255, 255, 255, 0.9)
      text-transform: lowercase
      min-width: 100px
      font-weight: 600
      transition: all 0.3s ease-in-out
      &:hover
        background-color: transparent
        color: #1e384f
      &:active, &:focus
        border-color: #132331
        background-color: #132331
        outline: none
        box-shadow: none
        color: rgba(255, 255, 255, 0.7)

    .prompt
      position: absolute
      left: 0px
      bottom: -20px
      color: #1e384f
      font-size: 12px
      text-align: left
