/* --- articles baner --- */
.baner
  position: relative
  width: 100%
  height: 450px
  .img
    width: 100%
    height: 450px
    display: block
    content: ""
    background-image: url(../img/nowe/szklo30.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    // -webkit-filter: blur(7px)
    // -moz-filter: blur(7px)
    // -o-filter: blur(7px)
    // -ms-filter: blur(7px)
    // filter: blur(7px)

  .hacker-line
    position: absolute
    bottom: -20px
    left: 0px
    display: block
    content: ""
    height: 20px
    width: 100%
    background-color: white
    -webkit-filter: blur(0px)
    -moz-filter: blur(0px)
    -o-filter: blur(0px)
    -ms-filter: blur(0px)
    filter: blur(0px)

/* --- main page baner --- */

.MainPageBaner
  position: relative
  width: 100%
  height: 450px
  background-size: cover
  @media screen and (min-width: 1400px)
    background-position: 0px -95px
