/* --- breadcrumb styles --- */
.breadcrumb.custom
  background-color: white
  padding-left: 0px
  li
    &:before
      color: black
    a
      color: black
      &:hover, &:active, &:focus
        text-decoration: none
        text-shadow: 0 0 0px black, 0 0 0px black, 0 0 0px black
