/* --- olewam karuzele i daje img --- */
.baner
  display: block
  clear: both
  width: 100%
  content: ""
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  height: 300px
  @media screen and (min-width: 768px)
    height: 350px
  @media screen and (min-width: 992px)
    height: 400px
  @media screen and (min-width: 1200px)
    height: 450px

.carousel
  //display: none
  @media screen and (min-width: 768px)
    display: block
  .carousel-inner
    .item
      img
        height: 300px
        // max-width: none
        @media screen and (min-width: 768px)
          width: 100%
          height: auto
