/* --- catalog subcategories nav --- */
.subcategories
  list-style-type: none
  margin: 0px
  padding: 0px
  min-height: 37px
  li
    display: block
    margin: 8px 8px 8px -8px
    clear: both
    float: left
    @media screen and (min-width: 768px)
      display: inline-block
      margin: 8px
      clear: none
      float: none
    &:first-of-type
      @media screen and (min-width: 768px)
        margin-left: 0px
    a
      font-size: 1.1em
      text-decoration: none
      color: black
      padding: 8px
      &:hover, &:focus, &:active
        text-decoration: none
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 1)
  li.active
    a
      text-shadow: 0 0 0px rgba(0, 0, 0, 0.5), 0 0 0px rgba(0, 0, 0, 0.5), 0 0 0px rgba(0, 0, 0, 0.5)
