/* --- catalog side navigation styles --- */
.categories
  display: none
  list-style-type: none
  margin: 0px
  padding: 0px
  width: 100%
  border-right: 1px solid #ccc
  @media screen and (min-width: 768px)
    display: block
  li
    display: block
    margin: 8px 12px 8px 0
    &:first-of-type
      margin-top: 8px
    a
      font-size: 1em
      text-decoration: none
      color: black
      padding: 8px 16px 8px 0
      &:hover, &:focus, &:active
        text-decoration: none
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 1)
        cursor: pointer

  li.active
    position: relative
    &:after
      position: absolute
      display: block
      content: ""
      top: 50%
      right: -12px
      height: 1px
      width: 24px
      background-color: #ccc
    a
      text-shadow: 0px 0px 0px rgba(0, 0, 0, 1)

/* -- side menu + button XS -- */
.hacker-toggle-class
  .ShowSubcategories
      background-color: white
      border: 0px
      color: black
      outline: none
      font-weight: 500
      font-size: 1.2em
      padding: 16px 16px 16px 0
      @media screen and (min-width: 768px)
        display: none

.hacker-toggle-class.open
  display: block
  position: fixed
  width: 100%
  height: 100vh
  top: 0px
  left: 0px
  bottom: 0px
  right: 0px
  background-color: white
  z-index: 10
  padding: 0px 15px
  .ShowSubcategories
    padding-left: 15px
    color: white
    position: relative
    float: right
    height: 70px
    &:after
      content: ""
      position: absolute
      top: 15px
      right: 5px
      height: 40px
      width: 40px
      background-color: white
      border: 0px
      outline: none
      background-repeat: no-repeat
      // background-image: url(../img/burger.svg)
      // background-size: 20px 20px
      // background-position: 10px 10px

      background-image: url(../img/close.svg)
      background-size: 30px 30px
      background-position: center
  .categories
    display: block
    clear: right
    border-top: 1px solid #ccc
    border-right: 0px
    padding: 20px 0 8px 0
    li
      margin: 0px
      padding: 8px 0
      a
        font-size: 1.3em
        line-height: 1.42857143
    li:first-of-type
      margin-top: 0px
    li.active
      &:after
        display: none
