/* --- CMS sightseeing articles list --- */
ul.articles
  padding: 0px
  margin: 0px
  list-style-type: none
  li
    padding-bottom: 16px
    border-bottom: 1px solid #ccc
    .actions
      a.btn
        margin-right: 16px
    .message
      margin-top: 16px
      .alert
        margin-bottom: 0px
