/* --- download links in catalog --- */

.DownloadLinks
  text-align: center
  padding: 8px 0
  border-top: 1px solid #ccc
  .DownloadLink
    display: inline-block
    width: auto
  .DownloadLink.arrow
    &:before
      background-image: url(../img/arrow.svg)
      background-size: 16px 15px
  .DownloadLink.diamond
    &:before
      background-image: url(../img/diamond.svg)
  .DownloadLink:nth-of-type(3)
