/* --- footer styles --- */
footer
  position: absolute
  bottom: 0px
  width: 100%
  margin-top: 16px
  text-align: center
  .background-img
    width: 100%
    height: 370px
    background-image: url(../img/nowe/footer-s-s.jpg)
    background-size: cover
    position: relative
    z-index: 1
    background-repeat: no-repeat
    &:after
      position: absolute
      display: block
      content: ""
      width: 100%
      height: 100%
      top: 0px
      left: 0px
      background-color: rgba(255, 255, 255, 0.85)
    @media screen and (min-width: 370px)
      height: 340px
    @media screen and (min-width: 470px)
      height: 300px
    @media screen and (min-width: 768px)
      height: 250px
      // body padding, zeby to dzialalo jest w style.sass
    @media screen and (min-width: 1000px)
      background-position: 0px -110px
    @media screen and (min-width: 1200px)
      background-position: 0px -250px

    .container
      z-index: 2
      position: relative
      height: 100%
      h1
        font-size: 1.5em
        margin-top: 10px
      p
        width: 100%
      .button-wrapper
        width: 100%
        margin: 0px
        position: absolute
        bottom: 88px
        left: 0px
      p.copyrights
        position: absolute
        bottom: 16px
        margin-bottom: 0px
        left: 0px
        &:before
          position: absolute
          display: block
          content: ""
          top: -16px
          left: 16px
          height: 1px
          width: calc(100% - 32px)
          background-color: rgba(0, 0, 0, 0.3)
      p.description
        font-size: 0.95em
        font-family: 'Amiri', serif
        // font-family: 'Sorts Mill Goudy', serif
        // font-family: 'Alice', serif
        // font-family: 'Lusitana', serif
        @media screen and (min-width: 992px)
          font-size: 0.99em

/* --- hacker helper class --- */
.position-static
  position: static
