/* --- links and search on top of the baner --- */
.LinksAndSearch
  position: absolute
  z-index: 10
  width: 100%
  display: block
  top: 0px
  left: 0px
  height: 50px
  .container-fluid
    // position: absolute
    // top: 0px
    // left: 0px
    form
      margin-top: 20px
      @media screen and (min-width: 768px)
        margin-top: 8px
      input[type='search']
        background-color: transparent
        border: 0px

      button[type='submit']
        background-color: transparent
        border: 0px
        outline: none
        color: transparent
        //font-weight: bold
        position: relative
        padding-left: 30px
        @media screen and (min-width: 768px)
          color: white
        &:after
          position: absolute
          content: ""
          display: block
          top: 0px
          left: 0px
          height: 28px
          width: 28px

          background-size: 20px 20px
          background-repeat: no-repeat
          background-position: center
          background-image: url(../img/magnifier.svg)
          @media screen and (min-width: 768px)
            height: 22px
            width: 22px
            background-size: 15px 15px
        &:hover, &:active, &:focus
          //font-weight: bold
          @media screen and (min-width: 768px)
            &:after
              background-size: 17px 17px

    a.logo
      display: block
      height: 50px
      width: 50px
      margin: 16px auto
      background-color: rgba(255, 255, 255, 0.5)
      img
        margin: 0 auto
        display: none

    a.icon
      display: inline-block
      float: right
      height: 30px
      width: 25px
      padding: 15px
      margin-top: 4px

      background-size: 15px 15px
      background-repeat: no-repeat
      background-position: center
      &:hover, &:active, &:focus
        background-size: 17px 17px

    a.icon.social-media-1
      background-image: url(../img/facebook.svg)

    a.icon.social-media-2
      background-image: url(../img/google-plus.svg)
