/* --- menu styles --- */
.container.navigation
  //height: 100%
  z-index: 10
  position: absolute
  margin-bottom: 16px
  top: 0px
  right: 0px
  max-width: none !important
  // width: 100%
  &:before
    height: 100%
    width: 100%
    display: none
    content: ""
    position: absolute
    top: -32px
    left: 0px
    background-color: white

  @media screen and (max-width: 768px)
    width: 100%
  @media screen and (min-width: 768px)
    height: 52px
    //top: 548px
    position: relative
    //width: auto
    height: 0px

  .dropdown
    margin: 16px 0 0
    height: 56px
    padding-bottom: 16px
    //border-bottom: 1px solid #ccc
    @media screen and (min-width: 768px)
      display: none
    button
      height: 40px
      width: 40px
      float: right
      background-color: transparent
      border: 0px
      outline: none
      background-image: url(../img/burger.svg)
      background-repeat: no-repeat
      background-size: 20px 20px
      background-position: 10px 10px

  .dropdown
    /* to powinno byc .dropdown.open */
    .dropdown-menu
      border: 0px
      box-shadow: none
      width: calc(100% + 30px)
      left: -15px
      margin-top: 16px
      border-radius: 0px
      li
        a
          padding: 8px 16px
  .menu
    display: none
    @media screen and (min-width: 768px)
      background-color: white
      margin: 0px
      list-style-type: none
      padding: 15px
      display: inline-block
      position: absolute
      top: -50px
      left: 15px
      width: calc(100% - 30px)

    a
      color: black
      text-decoration: none
      li
        padding: 8px 16px
        display: inline

    a.active, a:hover, a:focus, a:active
      text-shadow: 0 0 0px black, 0 0 0px black, 0 0 0px black

  .BottomLine
    display: none
    @media screen and (min-width: 768px)
      height: 10px
      display: block
      content: ""
      position: absolute
      background-color: #1e384f
      top: 0px
      left: 15px
      width: calc(100% - 30px)

.container.navigation.open
  height: 100%
  &:before
    display: block
  .dropdown
    border-bottom: 1px solid #ccc
    button
      background-image: url(../img/close.svg)
      background-size: 30px 30px
      background-position: center

    .dropdown-menu
      display: block
      li
        a
          font-size: 1.3em
          display: block
          color: black
          &:hover, &:active, &:focus
            //font-weight: bold
            text-decoration: none
            text-shadow: 0px 0px 0px rgba(0, 0, 0, 1)
      li.active
        a
          font-weight: bold
