/* --- masonry styles --- */
$min-sw: 300px
$gutter: 20px
$width: ($min-sw - 3 * $gutter)/2

*
 box-sizing: border-box

.clear
  clear: both
  width: 100%
  height: 0px

.grid
  // dla 300px screen width
  max-width: ($min-sw - 1 * $gutter)
  //max-width: 1170px
  margin: 20px auto 8px auto
  overflow: visible
  @media screen and (min-width: ($min-sw + 100px))
    max-width: ($min-sw + 100px - 1 * $gutter)
  @media screen and (min-width: ($min-sw + 200px))
    max-width: ($min-sw + 200px - 1 * $gutter)
  @media screen and (min-width: ($min-sw + 300px))
    max-width: ($min-sw + 300px - 1 * $gutter)
  @media screen and (min-width: ($min-sw + 400px))
    max-width: ($min-sw + 400px - 1 * $gutter)
  @media screen and (min-width: 768px)
    margin: 50px auto 8px auto
  @media screen and (min-width: 800px)
    max-width: 720px
  @media screen and (min-width: 1000px)
    max-width: 940px
  @media screen and (min-width: 1200px)
    max-width: 1140px

/* clearfix */
.grid:after
  content: ''
  display: block
  clear: both

/* ---- grid-item ---- */



.grid-item
  width: ($min-sw - 2 * $gutter)/2
  height: ($min-sw - 2 * $gutter)/2
  float: left
  /* vertical gutter */
  margin-bottom: 20px
  background-color: #ccc
  //border: 1px solid rgba(0,0,0,0.3)
  //border-radius: 2px
  background-size: cover
  position: relative
  //-webkit-box-shadow: 1px 3px 2px 0px rgba(0,0,0,0.5)
  //-moz-box-shadow: 1px 3px 2px 0px rgba(0,0,0,0.5)
  //box-shadow: 1px 3px 2px 0px rgba(0,0,0,0.5)
  padding: 8px 16px
  display: flex
  @media screen and (min-width: ($min-sw + 100px))
    width: 180px
    height: 180px
  @media screen and (min-width: ($min-sw + 200px))
    width: 230px
    height: 230px
  @media screen and (min-width: ($min-sw + 300px))
    width: 280px
    height: 280px
  @media screen and (min-width: ($min-sw + 400px))
    width: 213px
    height: 213px
  @media screen and (min-width: ($min-sw + 500px))
    width: 226px
    height: 226px
  @media screen and (min-width: 900px)
    &:after
      background: rgba(0,0,0,0)
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.6) 100%)
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(25%, rgba(0,0,0,0.1)), color-stop(50%, rgba(0,0,0,0.3)), color-stop(100%, rgba(0,0,0,0.6)))
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.6) 100%)
      background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.6) 100%)
      background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.6) 100%)
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.6) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 )
      position: absolute
      display: block
      content: ""
      width: 100%
      height: 80px
      bottom: 0px
      right: 0px
      z-index: 3
  @media screen and (min-width: 1000px)
    width: 300px
    height: 300px
  @media screen and (min-width: 1200px)
    width: 366px
    height: 366px


  &:hover
    /* hover .grid-item */

    //border-color: rgba(0,0,0,0.3)
    //-webkit-box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.5)
    //-moz-box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.5)
    //box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.5)
    &:after
      display: none
    .grid-item_bg-img
      //&:hover
      filter: blur(1px)
      -webkit-filter: blur(1px)
      -moz-filter: blur(1px)
      -o-filter: blur(1px)
      -ms-filter: blur(1px)

      // filter: grayscale(50%)
      // -webkit-filter: grayscale(50%)
      // -moz-filter: grayscale(50%)
      // -o-filter: grayscale(50%)
      // -ms-filter: grayscale(50%)

      -webkit-transition: 0.5s -webkit-filter ease-out
      -moz-transition: 0.5s -moz-filter ease-out
      -moz-transition: 0.5s filter ease-out
      -ms-transition: 0.5s -ms-filter ease-out
      -o-transition: 0.5s -o-filter ease-out
      transition: 0.5s filter ease-out, 0.5s -webkit-filter ease-out
      &:after
        -webkit-transition: background-color 200ms ease-in
        -ms-transition: background-color 200ms ease-in
        transition: background-color 200ms ease-in
        background-color: rgba(255, 255, 255, 0.6)
    .text
      // on .grid-item hover
      opacity: 1
      display: block
      -webkit-transition: opacity .2s ease-in
      -moz-transition: opacity .2s ease-in
      -ms-transition: opacity .2s ease-in
      -o-transition: opacity .2s ease-in
      transition: opacity .2s ease-in
      &:after
        background-image: url(../img/arrow-black-right.png)
        -webkit-transition: background-image 0.2s ease-in
        transition: background-image 0.2s ease-in
      a
        color: rgba(0, 0, 0, 0.95)
        -webkit-transition: color 0.2s ease-in
        -moz-transition: color 0.2s ease-in
        -o-transition: color 0.2s ease-in
        transition: color 0.2s ease-in

  .text
    align-self: center
    text-align: center
    width: 100%
    position: relative
    z-index: 2
    opacity: 0
    display: none
    -webkit-transition: none
    -moz-transition: none
    -ms-transition: none
    -o-transition: none
    transition: none
    padding: 8px 0
    border-top: 1px solid rgba(0, 0, 0, 0.8)
    border-bottom: 1px solid rgba(0, 0, 0, 0.8)
    @media screen and (min-width: 900px)
      align-self: flex-end
      text-align: right
      padding: 0px 32px 0px 0px
      position: relative
      opacity: 1
      z-index: 4
      border: none
      &:after
        position: absolute
        display: block
        content: ""
        width: 24px
        height: 8px
        bottom: 8px
        right: 0px
        background-color: transparent
        background-image: url(../img/arrow-white-right.png)
        background-size: 16px 16px
        background-position: center
        background-repeat: no-repeat
        -webkit-transition: background-image 0s ease-in-out
        transition: background-image 0s ease-in-out
      /* koniec media query na .text */

    a
      display: inline-block
      color: rgba(255, 255, 255, 0.95)
      -webkit-transition: color 0s ease-out
      -moz-transition: color 0s ease-out
      -o-transition: color 0s ease-out
      transition: color 0s ease-out
      &:hover, &:active, &:focus
        text-decoration: none
        //color: rgba(0, 0, 0, 0.95)
      h1
        //font-size: 1em
        //margin-top: 0px
        //text-transform: uppercase
        //font-family: 'Playfair Display', sans-serif
        //font-family: 'Oswald', sans-serif
        //font-family: 'Montserrat', sans-serif
        //margin-bottom: 0px
        //text-align: left
        //text-align: right
        font-size: 12px
        margin: 0px

        @media screen and (min-width: 900px)
          font-size: 14px
        @media screen and (min-width: 900px)
          //font-size: 1.5em
          //margin-top: 20px
          margin: 0px 0 5px 0
    p
      //font-family: 'Droid Sans', sans-serif
      font-family: 'Alice', sans-serif
      margin: 0px
      font-size: 1em
      text-align: left

/* grid-item background */
.grid-item_bg-img
  background-size: cover
  width: 100%
  height: 100%
  display: block
  content: ""
  position: absolute
  top: 0px
  left: 0px
  z-index: 1
  &:after
    position: absolute
    display: block
    content: ""
    width: 100%
    height: 100%
    top: 0px
    left: 0px
    background-color: rgba(0, 0, 0, 0.0)

.grid-item---widthx2
  width: 280px
  @media screen and (min-width: ($min-sw + 100px))
    width: 380px
  @media screen and (min-width: ($min-sw + 200px))
    width: 480px
  @media screen and (min-width: ($min-sw + 300px))
    width: 580px
  @media screen and (min-width: ($min-sw + 400px))
    width: 446px
  @media screen and (min-width: ($min-sw + 500px))
    width: 472px
  @media screen and (min-width: 1000px)
    width: 620px
  @media screen and (min-width: 1200px)
    width: 752px

.grid-item---heightx2
  height: 280px
  @media screen and (min-width: ($min-sw + 100px))
    height: 380px
  @media screen and (min-width: ($min-sw + 200px))
    height: 480px
  @media screen and (min-width: ($min-sw + 300px))
    height: 580px
  @media screen and (min-width: ($min-sw + 400px))
    height: 446px
  @media screen and (min-width: ($min-sw + 500px))
    height: 472px
  @media screen and (min-width: 1000px)
    height: 620px
  @media screen and (min-width: 1200px)
    height: 752px

.grid-item---heightx2.hacker-mockup
  height: 130px
  width: 280px
  @media screen and (min-width: ($min-sw + 100px))
    width: 380px
    height: 180px
  @media screen and (min-width: ($min-sw + 200px))
    width: 480px
    height: 230px
  @media screen and (min-width: ($min-sw + 300px))
    width: 580px
    height: 280px
  @media screen and (min-width: ($min-sw + 400px))
    width: 213px
    height: 446px
  @media screen and (min-width: ($min-sw + 500px))
    width: 226px
    height: 472px
  @media screen and (min-width: 1000px)
    width: 300px
    height: 620px
  @media screen and (min-width: 1200px)
      width: 366px
      height: 752px
