/* --- pagination styles --- */
nav.CustomPagination
  width: 100%
  display: flex
  justify-content: center
  ul.pagination
    border-radius: 0px
    li
      a
        border-radius: 0px
        color: black
        border: 0px
        padding: 0 8px
        &:hover, &:active, &:focus
          background-color: #f3f3f3
          outline: none
          text-decoration: none
    li:first-of-type, li:last-of-type
      &:hover, &:active, &:focus
        color: #909090
        background-color: white
        /* nie umiem tego zmienic */
    li.active
      a
        font-weight: bold
        &:hover, &:active, &:focus
          background-color: white
          color: black
