/* --- product styles --- */

/* -- bottom "back" button -- */

.LinkFrameWrapper
  width: 100%
  text-align: center
  margin: 32px 0
  .LinkFrame
    display: inline-block
    padding-left: 48px
    position: relative
    &:before
      display: block
      content: ""
      height: 10px
      width: 20px
      position: absolute
      left: 16px
      top: 11px
      //color: black
      background-image: url(../img/arrow.svg)
      background-size: 20px 19px
      background-repeat: no-repeat
      background-position: 0px -7px
      -webkit-transform: rotate(180deg)
      transform: rotate(180deg)

/* -- product table -- */
.table
  margin-top: 16px
  @media screen and (min-width: 768px)
    margin-top: 0px
  table
    width: 100%
    tr
      height: 40px
      border-top: 1px solid #ccc
      border-radius: 1px
      th:first-of-type
        width: 40px
        background-color: black
        text-align: center
        color: white
        border-left: 1px solid #ccc
      th:nth-of-type(2)
        width: calc(100% - 40px)
        text-align: center
        border-right: 1px solid #ccc
    tr:first-of-type
      display: none
    tr:nth-of-type(3)
      td
        text-align: center
        border-bottom: 1px solid #ccc
        &:first-of-type
          border-bottom: 0px
        &:nth-of-type(2)
          width: 45%
          // ta dlugosc jest bardzo do zmiany. BARDZO.
          border-left: 1px solid #ccc
          border-right: 1px solid #ccc
        &:nth-of-type(3)
          border-right: 1px solid #ccc

/* -- product table mobile -- */

.table.small
  tr:first-of-type
    display: table-row
    text-align: center
    border: 0px
    background-color: black
    color: white
    font-weight: bold
    height: 40px
  tr:nth-of-type(2)
    th:nth-of-type(1)
      display: none
    th:nth-of-type(2)
    border-left: 1px solid #ccc
  tr:nth-of-type(3)
    td:first-of-type
      display: none

/* -- product in catalog -- */
.product
  padding: 8px 8px 4px
  margin: 8px 0
  border: 1px solid white
  border-radius: 1px
  &:hover, &:active, &:focus
    border: 1px solid #ccc
  a
    color: black
    &:hover, &:active, &:focus
      text-decoration: none
      h5
        //text-shadow: 0px 0px 0px black

    .image
      img
        margin: 0 auto
        max-width: 100%
    .title
      text-align: center
      h5

/* -- img on the product page -- */
.image-container
  display: flex
  justify-content: center
  align-items: center
  .product-image
    //margin: 0 auto
