@import 'masonry'
@import 'carousel'
@import 'footer'
@import 'catalog_top_nav'
@import 'catalog_side_nav'
@import 'tab_nav'
@import 'pagination'
@import 'breadcrumb'
@import 'product'
@import 'about-tabs-content'
@import 'main_menu'
@import 'download_links'
@import 'baner'
@import 'links_and_search'
@import 'admin_forms'
@import 'CMS_articles_list'

*
  margin: 0px
  padding: 0px
html
  min-height: 100%
  position: relative
body
  font-family: 'Quicksand', sans-serif
  color: rgba(0, 0, 0, 0.8)
  margin: 0 0 370px
  @media screen and (min-width: 370px)
    margin-bottom: 340px
  @media screen and (min-width: 470px)
    margin-bottom: 300px
  @media screen and (min-width: 768px)
    margin-bottom: 250px
    /* to wyzej to sa marginy dla footera */
h1.subtitle
  text-align: center
  margin: 48px 0 22px
  padding-bottom: 18px
  border-bottom: 1px solid rgba(0, 0, 0, 0.3)
  font-weight: 400
  font-size: 2em

.news
  //width: 100%
  height: auto
  //margin: 8px auto
  padding: 8px 16px
  background-color: white
  //border-top: 1px solid #d6d6d6
  //border-bottom: 1px solid #d6d6d6
  clear: both
  //border-radius: 2px
  position: relative
  &:after
    position: absolute
    bottom: 12px
    left: 15px
    display: block
    content: ""
    height: 1px
    width: calc(100% - 30px)
    background-color: #b1b1b1
  .left
    //float: left
    //display: inline-block
    margin: 16px 0px 16px -15px
    img
      height: 200px
  .right
    //float: right
    //display: inline-block
    padding: 16px 45px
    h4
      text-transform: uppercase
      font-size: 24px
      font-family: 'Montserrat', sans-serif
      margin-bottom: 16px
    p
      margin-bottom: 32px
    a
      color: black
      text-decoration: none
      span
        padding: 8px 32px
        display: inline-block
        border: 2px solid rgba(0, 0, 0, 0.8)
        border-radius: 1px
        text-transform: uppercase
        font-size: 13px
        font-family: 'Montserrat', sans-serif
        font-weight: 500

.news-form
  display: block


/* --- general styles --- */
.clearfix
  clear: both

.LinkFrame
  //display: block
  color: black
  text-decoration: none
  border: 1px solid black
  padding: 8px 16px
  border-radius: 1px
  background-color: rgba(255, 255, 255, 0.5)
  font-size: 1.1em
  font-weight: 500
  &:hover, &:focus, &:active
    text-decoration: none
    //text-shadow: 0 0 0px black, 0 0 0px black, 0 0 0px black
    //font-weight: bold
    color: black
  &:focus
    background-color: rgba(255, 255, 255, 0.5)
  &:hover
    background-color: rgba(255, 255, 255, 0.95)
  &:active
    background-color: transparent

.DownloadLink
  display: block
  width: auto
  padding: 8px 8px 8px 32px
  margin: 4px 0
  color: black
  position: relative
  float: left
  clear: both
  &:focus, &:hover, &:active
    color: black
  &:before
    position: absolute
    top: 10px
    left: 0px
    display: block
    content: ""
    height: 16px
    width: 16px
    background-color: white
    background-image: url(../img/download.png)
    background-size: cover
    background-position: center

.container.articles
  padding-bottom: 16px
  .second-image
    max-width: 50%
    float: left
    padding: 0 30px 25px 0
    @media screen and (min-width: 550px)
      max-width: 40%
  p
    text-align: justify

.container.articles .margin-distances-in-text > .row
  margin-top: 16px

.container.position-relative
  padding-bottom: 64px

/* --- slick slides -- */

.slick-slide
  img
    margin: 0 auto
