/* --- tab nagigation styles --- */

/* -- hakerska klasa -- */
.text-align-center
  width: 100%
  position: relative
  margin-top: 40px
  @media screen and (min-width: 768px)
    text-align: center
  &:after
    position: absolute
    bottom: 5px
    left: 0px
    display: block
    content: ""
    height: 1px
    width: 100%
    background-color: #ccc
    z-index: 1

/* -- normalne style -- */

.nav.nav-tabs.TabNavigation
  border: 0px
  padding-bottom: 8px
  display: inline-block
  li.active
    a
      position: relative
      z-index: 10
      border: 0px
      text-shadow: 0px 0px 0px rgba(0, 0, 0, 1)
  li
    float: none
    margin: 8px 0
    a
      color: black
      padding: 12px 0
      font-size: 1.1em
      border-radius: 0px
      border: 0px
      &:hover, &:active, &:focus
        background-color: transparent
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 1)
        outline: none

  @media screen and (min-width: 768px)
    //padding-bottom: 0px
    li.active
      a
        margin-bottom: 0px
        border-bottom: 1px solid black
    li
      float: left
      margin: 0px
      a
        padding: 10px 15px
        margin-bottom: -1px
        border: 0px
        &:hover, &:active, &:focus
          background-color: transparent
          text-decoration: none
