<!DOCTYPE html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/lib/angular/angular.js"></script>
  <script src="js/lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="js/lib/angular-resource/angular-resource.js"></script>
  <script src="js/ng.js"></script>
  <script src="js/controllers/controllers-module.js"></script>
  <script src="js/controllers/controllers.js"></script>
  <script src="js/controllers/menuCtrl.js"></script>
  <script src="js/controllers/newsCtrl.js"></script>
  <script src="js/controllers/testCtrl.js"></script>
  <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- masonry fonts -->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Josefin+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alice|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Oswald:200,300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
  <!-- end of masonry fonts -->

</head>

<div colorify-main-color style="display: none">
    <img colorify src="img/large-icons/icon1.jpg">
</div>
<h1 class='kupa'>Lorem ipsum dolor sit amet</h1>


<body ng-app="app">
  <div class="container navigation">
    <div class="logo">
      <img src="img/logo1.png"/>
    </div>
    <div ng-controller="MenuController as menu">
      <ul class="menu">
        <a ng-repeat="item in dupa.menuitems" ui-sref="{{item.link}}" ui-sref-active="active"><li>{{item.name}}</li></a>
      </ul>
    </div>
  </div>
  <div class="container">

    <div ui-view></div>
  </div>
  <footer>
    <!-- <h3>footer</h3> -->
  </footer>
  <script src="js/lib/color-picker.js"></script>
  <script>
  colorify({
      id: 1,
      attr: 'colorify',
      container: 'colorify-main-color',
      images: false,
      accuracy: 10,
      color: false,
      gradient: false,
      padding: 0,
      lazyReveal: false,
      giveTo: false,
      revealOn: false,
      give: {
        property: 'background-color',
        target: '.kupa'
      }
    });
  </script>
</body>
</html>
