/* --- masonry styles --- */
* {
  box-sizing: border-box; }

.clear {
  clear: both;
  width: 100%;
  height: 0px; }

.grid {
  max-width: 280px;
  margin: 20px auto 8px auto;
  overflow: visible; }
  @media screen and (min-width: 400px) {
    .grid {
      max-width: 380px; } }
  @media screen and (min-width: 500px) {
    .grid {
      max-width: 480px; } }
  @media screen and (min-width: 600px) {
    .grid {
      max-width: 580px; } }
  @media screen and (min-width: 700px) {
    .grid {
      max-width: 680px; } }
  @media screen and (min-width: 768px) {
    .grid {
      margin: 50px auto 8px auto; } }
  @media screen and (min-width: 800px) {
    .grid {
      max-width: 720px; } }
  @media screen and (min-width: 1000px) {
    .grid {
      max-width: 940px; } }
  @media screen and (min-width: 1200px) {
    .grid {
      max-width: 1140px; } }

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- grid-item ---- */
.grid-item {
  width: 130px;
  height: 130px;
  float: left;
  /* vertical gutter */
  margin-bottom: 20px;
  background-color: #ccc;
  background-size: cover;
  position: relative;
  padding: 8px 16px;
  display: flex; }
  @media screen and (min-width: 400px) {
    .grid-item {
      width: 180px;
      height: 180px; } }
  @media screen and (min-width: 500px) {
    .grid-item {
      width: 230px;
      height: 230px; } }
  @media screen and (min-width: 600px) {
    .grid-item {
      width: 280px;
      height: 280px; } }
  @media screen and (min-width: 700px) {
    .grid-item {
      width: 213px;
      height: 213px; } }
  @media screen and (min-width: 800px) {
    .grid-item {
      width: 226px;
      height: 226px; } }
  @media screen and (min-width: 900px) {
    .grid-item:after {
      background: transparent;
      background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(25%, rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.6)));
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 100%);
      background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 100%);
      background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 100%);
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 80px;
      bottom: 0px;
      right: 0px;
      z-index: 3; } }
  @media screen and (min-width: 1000px) {
    .grid-item {
      width: 300px;
      height: 300px; } }
  @media screen and (min-width: 1200px) {
    .grid-item {
      width: 366px;
      height: 366px; } }
  .grid-item:hover {
    /* hover .grid-item */ }
    .grid-item:hover:after {
      display: none; }
    .grid-item:hover .grid-item_bg-img {
      filter: blur(1px);
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
      -webkit-transition: 0.5s -webkit-filter ease-out;
      -moz-transition: 0.5s -moz-filter ease-out;
      -moz-transition: 0.5s filter ease-out;
      -ms-transition: 0.5s -ms-filter ease-out;
      -o-transition: 0.5s -o-filter ease-out;
      transition: 0.5s filter ease-out, 0.5s -webkit-filter ease-out; }
      .grid-item:hover .grid-item_bg-img:after {
        -webkit-transition: background-color 200ms ease-in;
        -ms-transition: background-color 200ms ease-in;
        transition: background-color 200ms ease-in;
        background-color: rgba(255, 255, 255, 0.6); }
    .grid-item:hover .text {
      opacity: 1;
      display: block;
      -webkit-transition: opacity .2s ease-in;
      -moz-transition: opacity .2s ease-in;
      -ms-transition: opacity .2s ease-in;
      -o-transition: opacity .2s ease-in;
      transition: opacity .2s ease-in; }
      .grid-item:hover .text:after {
        background-image: url(../img/arrow-black-right.png);
        -webkit-transition: background-image 0.2s ease-in;
        transition: background-image 0.2s ease-in; }
      .grid-item:hover .text a {
        color: rgba(0, 0, 0, 0.95);
        -webkit-transition: color 0.2s ease-in;
        -moz-transition: color 0.2s ease-in;
        -o-transition: color 0.2s ease-in;
        transition: color 0.2s ease-in; }
  .grid-item .text {
    align-self: center;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;
    opacity: 0;
    display: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    padding: 8px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8); }
    @media screen and (min-width: 900px) {
      .grid-item .text {
        align-self: flex-end;
        text-align: right;
        padding: 0px 32px 0px 0px;
        position: relative;
        opacity: 1;
        z-index: 4;
        border: none;
        /* koniec media query na .text */ }
        .grid-item .text:after {
          position: absolute;
          display: block;
          content: "";
          width: 24px;
          height: 8px;
          bottom: 8px;
          right: 0px;
          background-color: transparent;
          background-image: url(../img/arrow-white-right.png);
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
          -webkit-transition: background-image 0s ease-in-out;
          transition: background-image 0s ease-in-out; } }
    .grid-item .text a {
      display: inline-block;
      color: rgba(255, 255, 255, 0.95);
      -webkit-transition: color 0s ease-out;
      -moz-transition: color 0s ease-out;
      -o-transition: color 0s ease-out;
      transition: color 0s ease-out; }
      .grid-item .text a:hover, .grid-item .text a:active, .grid-item .text a:focus {
        text-decoration: none; }
      .grid-item .text a h1 {
        font-size: 12px;
        margin: 0px; }
        @media screen and (min-width: 900px) {
          .grid-item .text a h1 {
            font-size: 14px; } }
        @media screen and (min-width: 900px) {
          .grid-item .text a h1 {
            margin: 0px 0 5px 0; } }
    .grid-item .text p {
      font-family: 'Alice', sans-serif;
      margin: 0px;
      font-size: 1em;
      text-align: left; }

/* grid-item background */
.grid-item_bg-img {
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1; }
  .grid-item_bg-img:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: transparent; }

.grid-item---widthx2 {
  width: 280px; }
  @media screen and (min-width: 400px) {
    .grid-item---widthx2 {
      width: 380px; } }
  @media screen and (min-width: 500px) {
    .grid-item---widthx2 {
      width: 480px; } }
  @media screen and (min-width: 600px) {
    .grid-item---widthx2 {
      width: 580px; } }
  @media screen and (min-width: 700px) {
    .grid-item---widthx2 {
      width: 446px; } }
  @media screen and (min-width: 800px) {
    .grid-item---widthx2 {
      width: 472px; } }
  @media screen and (min-width: 1000px) {
    .grid-item---widthx2 {
      width: 620px; } }
  @media screen and (min-width: 1200px) {
    .grid-item---widthx2 {
      width: 752px; } }

.grid-item---heightx2 {
  height: 280px; }
  @media screen and (min-width: 400px) {
    .grid-item---heightx2 {
      height: 380px; } }
  @media screen and (min-width: 500px) {
    .grid-item---heightx2 {
      height: 480px; } }
  @media screen and (min-width: 600px) {
    .grid-item---heightx2 {
      height: 580px; } }
  @media screen and (min-width: 700px) {
    .grid-item---heightx2 {
      height: 446px; } }
  @media screen and (min-width: 800px) {
    .grid-item---heightx2 {
      height: 472px; } }
  @media screen and (min-width: 1000px) {
    .grid-item---heightx2 {
      height: 620px; } }
  @media screen and (min-width: 1200px) {
    .grid-item---heightx2 {
      height: 752px; } }

.grid-item---heightx2.hacker-mockup {
  height: 130px;
  width: 280px; }
  @media screen and (min-width: 400px) {
    .grid-item---heightx2.hacker-mockup {
      width: 380px;
      height: 180px; } }
  @media screen and (min-width: 500px) {
    .grid-item---heightx2.hacker-mockup {
      width: 480px;
      height: 230px; } }
  @media screen and (min-width: 600px) {
    .grid-item---heightx2.hacker-mockup {
      width: 580px;
      height: 280px; } }
  @media screen and (min-width: 700px) {
    .grid-item---heightx2.hacker-mockup {
      width: 213px;
      height: 446px; } }
  @media screen and (min-width: 800px) {
    .grid-item---heightx2.hacker-mockup {
      width: 226px;
      height: 472px; } }
  @media screen and (min-width: 1000px) {
    .grid-item---heightx2.hacker-mockup {
      width: 300px;
      height: 620px; } }
  @media screen and (min-width: 1200px) {
    .grid-item---heightx2.hacker-mockup {
      width: 366px;
      height: 752px; } }

/* --- olewam karuzele i daje img --- */
.baner {
  display: block;
  clear: both;
  width: 100%;
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px; }
  @media screen and (min-width: 768px) {
    .baner {
      height: 350px; } }
  @media screen and (min-width: 992px) {
    .baner {
      height: 400px; } }
  @media screen and (min-width: 1200px) {
    .baner {
      height: 450px; } }

@media screen and (min-width: 768px) {
  .carousel {
    display: block; } }

.carousel .carousel-inner .item img {
  height: 300px; }
  @media screen and (min-width: 768px) {
    .carousel .carousel-inner .item img {
      width: 100%;
      height: auto; } }

/* --- footer styles --- */
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-top: 16px;
  text-align: center; }
  footer .background-img {
    width: 100%;
    height: 370px;
    background-image: url(../img/nowe/footer-s-s.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat; }
    footer .background-img:after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: rgba(255, 255, 255, 0.85); }
    @media screen and (min-width: 370px) {
      footer .background-img {
        height: 340px; } }
    @media screen and (min-width: 470px) {
      footer .background-img {
        height: 300px; } }
    @media screen and (min-width: 768px) {
      footer .background-img {
        height: 250px; } }
    @media screen and (min-width: 1000px) {
      footer .background-img {
        background-position: 0px -110px; } }
    @media screen and (min-width: 1200px) {
      footer .background-img {
        background-position: 0px -250px; } }
    footer .background-img .container {
      z-index: 2;
      position: relative;
      height: 100%; }
      footer .background-img .container h1 {
        font-size: 1.5em;
        margin-top: 10px; }
      footer .background-img .container p {
        width: 100%; }
      footer .background-img .container .button-wrapper {
        width: 100%;
        margin: 0px;
        position: absolute;
        bottom: 88px;
        left: 0px; }
      footer .background-img .container p.copyrights {
        position: absolute;
        bottom: 16px;
        margin-bottom: 0px;
        left: 0px; }
        footer .background-img .container p.copyrights:before {
          position: absolute;
          display: block;
          content: "";
          top: -16px;
          left: 16px;
          height: 1px;
          width: calc(100% - 32px);
          background-color: rgba(0, 0, 0, 0.3); }
      footer .background-img .container p.description {
        font-size: 0.95em;
        font-family: 'Amiri', serif; }
        @media screen and (min-width: 992px) {
          footer .background-img .container p.description {
            font-size: 0.99em; } }

/* --- hacker helper class --- */
.position-static {
  position: static; }

/* --- catalog subcategories nav --- */
.subcategories {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  min-height: 37px; }
  .subcategories li {
    display: block;
    margin: 8px 8px 8px -8px;
    clear: both;
    float: left; }
    @media screen and (min-width: 768px) {
      .subcategories li {
        display: inline-block;
        margin: 8px;
        clear: none;
        float: none; } }
    @media screen and (min-width: 768px) {
      .subcategories li:first-of-type {
        margin-left: 0px; } }
    .subcategories li a {
      font-size: 1.1em;
      text-decoration: none;
      color: black;
      padding: 8px; }
      .subcategories li a:hover, .subcategories li a:focus, .subcategories li a:active {
        text-decoration: none;
        text-shadow: 0px 0px 0px black; }
  .subcategories li.active a {
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.5), 0 0 0px rgba(0, 0, 0, 0.5), 0 0 0px rgba(0, 0, 0, 0.5); }

/* --- catalog side navigation styles --- */
.categories {
  display: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  border-right: 1px solid #ccc; }
  @media screen and (min-width: 768px) {
    .categories {
      display: block; } }
  .categories li {
    display: block;
    margin: 8px 12px 8px 0; }
    .categories li:first-of-type {
      margin-top: 8px; }
    .categories li a {
      font-size: 1em;
      text-decoration: none;
      color: black;
      padding: 8px 16px 8px 0; }
      .categories li a:hover, .categories li a:focus, .categories li a:active {
        text-decoration: none;
        text-shadow: 0px 0px 0px black;
        cursor: pointer; }
  .categories li.active {
    position: relative; }
    .categories li.active:after {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      right: -12px;
      height: 1px;
      width: 24px;
      background-color: #ccc; }
    .categories li.active a {
      text-shadow: 0px 0px 0px black; }

/* -- side menu + button XS -- */
.hacker-toggle-class .ShowSubcategories {
  background-color: white;
  border: 0px;
  color: black;
  outline: none;
  font-weight: 500;
  font-size: 1.2em;
  padding: 16px 16px 16px 0; }
  @media screen and (min-width: 768px) {
    .hacker-toggle-class .ShowSubcategories {
      display: none; } }

.hacker-toggle-class.open {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: white;
  z-index: 10;
  padding: 0px 15px; }
  .hacker-toggle-class.open .ShowSubcategories {
    padding-left: 15px;
    color: white;
    position: relative;
    float: right;
    height: 70px; }
    .hacker-toggle-class.open .ShowSubcategories:after {
      content: "";
      position: absolute;
      top: 15px;
      right: 5px;
      height: 40px;
      width: 40px;
      background-color: white;
      border: 0px;
      outline: none;
      background-repeat: no-repeat;
      background-image: url(../img/close.svg);
      background-size: 30px 30px;
      background-position: center; }
  .hacker-toggle-class.open .categories {
    display: block;
    clear: right;
    border-top: 1px solid #ccc;
    border-right: 0px;
    padding: 20px 0 8px 0; }
    .hacker-toggle-class.open .categories li {
      margin: 0px;
      padding: 8px 0; }
      .hacker-toggle-class.open .categories li a {
        font-size: 1.3em;
        line-height: 1.42857143; }
    .hacker-toggle-class.open .categories li:first-of-type {
      margin-top: 0px; }
    .hacker-toggle-class.open .categories li.active:after {
      display: none; }

/* --- tab nagigation styles --- */
/* -- hakerska klasa -- */
.text-align-center {
  width: 100%;
  position: relative;
  margin-top: 40px; }
  @media screen and (min-width: 768px) {
    .text-align-center {
      text-align: center; } }
  .text-align-center:after {
    position: absolute;
    bottom: 5px;
    left: 0px;
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #ccc;
    z-index: 1; }

/* -- normalne style -- */
.nav.nav-tabs.TabNavigation {
  border: 0px;
  padding-bottom: 8px;
  display: inline-block; }
  .nav.nav-tabs.TabNavigation li.active a {
    position: relative;
    z-index: 10;
    border: 0px;
    text-shadow: 0px 0px 0px black; }
  .nav.nav-tabs.TabNavigation li {
    float: none;
    margin: 8px 0; }
    .nav.nav-tabs.TabNavigation li a {
      color: black;
      padding: 12px 0;
      font-size: 1.1em;
      border-radius: 0px;
      border: 0px; }
      .nav.nav-tabs.TabNavigation li a:hover, .nav.nav-tabs.TabNavigation li a:active, .nav.nav-tabs.TabNavigation li a:focus {
        background-color: transparent;
        text-shadow: 0px 0px 0px black;
        outline: none; }
  @media screen and (min-width: 768px) {
    .nav.nav-tabs.TabNavigation li.active a {
      margin-bottom: 0px;
      border-bottom: 1px solid black; }
    .nav.nav-tabs.TabNavigation li {
      float: left;
      margin: 0px; }
      .nav.nav-tabs.TabNavigation li a {
        padding: 10px 15px;
        margin-bottom: -1px;
        border: 0px; }
        .nav.nav-tabs.TabNavigation li a:hover, .nav.nav-tabs.TabNavigation li a:active, .nav.nav-tabs.TabNavigation li a:focus {
          background-color: transparent;
          text-decoration: none; } }

/* --- pagination styles --- */
nav.CustomPagination {
  width: 100%;
  display: flex;
  justify-content: center; }
  nav.CustomPagination ul.pagination {
    border-radius: 0px; }
    nav.CustomPagination ul.pagination li a {
      border-radius: 0px;
      color: black;
      border: 0px;
      padding: 0 8px; }
      nav.CustomPagination ul.pagination li a:hover, nav.CustomPagination ul.pagination li a:active, nav.CustomPagination ul.pagination li a:focus {
        background-color: #f3f3f3;
        outline: none;
        text-decoration: none; }
    nav.CustomPagination ul.pagination li:first-of-type:hover, nav.CustomPagination ul.pagination li:first-of-type:active, nav.CustomPagination ul.pagination li:first-of-type:focus, nav.CustomPagination ul.pagination li:last-of-type:hover, nav.CustomPagination ul.pagination li:last-of-type:active, nav.CustomPagination ul.pagination li:last-of-type:focus {
      color: #909090;
      background-color: white;
      /* nie umiem tego zmienic */ }
    nav.CustomPagination ul.pagination li.active a {
      font-weight: bold; }
      nav.CustomPagination ul.pagination li.active a:hover, nav.CustomPagination ul.pagination li.active a:active, nav.CustomPagination ul.pagination li.active a:focus {
        background-color: white;
        color: black; }

/* --- breadcrumb styles --- */
.breadcrumb.custom {
  background-color: white;
  padding-left: 0px; }
  .breadcrumb.custom li:before {
    color: black; }
  .breadcrumb.custom li a {
    color: black; }
    .breadcrumb.custom li a:hover, .breadcrumb.custom li a:active, .breadcrumb.custom li a:focus {
      text-decoration: none;
      text-shadow: 0 0 0px black, 0 0 0px black, 0 0 0px black; }

/* --- product styles --- */
/* -- bottom "back" button -- */
.LinkFrameWrapper {
  width: 100%;
  text-align: center;
  margin: 32px 0; }
  .LinkFrameWrapper .LinkFrame {
    display: inline-block;
    padding-left: 48px;
    position: relative; }
    .LinkFrameWrapper .LinkFrame:before {
      display: block;
      content: "";
      height: 10px;
      width: 20px;
      position: absolute;
      left: 16px;
      top: 11px;
      background-image: url(../img/arrow.svg);
      background-size: 20px 19px;
      background-repeat: no-repeat;
      background-position: 0px -7px;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }

/* -- product table -- */
.table {
  margin-top: 16px; }
  @media screen and (min-width: 768px) {
    .table {
      margin-top: 0px; } }
  .table table {
    width: 100%; }
    .table table tr {
      height: 40px;
      border-top: 1px solid #ccc;
      border-radius: 1px; }
      .table table tr th:first-of-type {
        width: 40px;
        background-color: black;
        text-align: center;
        color: white;
        border-left: 1px solid #ccc; }
      .table table tr th:nth-of-type(2) {
        width: calc(100% - 40px);
        text-align: center;
        border-right: 1px solid #ccc; }
    .table table tr:first-of-type {
      display: none; }
    .table table tr:nth-of-type(3) td {
      text-align: center;
      border-bottom: 1px solid #ccc; }
      .table table tr:nth-of-type(3) td:first-of-type {
        border-bottom: 0px; }
      .table table tr:nth-of-type(3) td:nth-of-type(2) {
        width: 45%;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc; }
      .table table tr:nth-of-type(3) td:nth-of-type(3) {
        border-right: 1px solid #ccc; }

/* -- product table mobile -- */
.table.small tr:first-of-type {
  display: table-row;
  text-align: center;
  border: 0px;
  background-color: black;
  color: white;
  font-weight: bold;
  height: 40px; }

.table.small tr:nth-of-type(2) {
  border-left: 1px solid #ccc; }
  .table.small tr:nth-of-type(2) th:nth-of-type(1) {
    display: none; }

.table.small tr:nth-of-type(3) td:first-of-type {
  display: none; }

/* -- product in catalog -- */
.product {
  padding: 8px 8px 4px;
  margin: 8px 0;
  border: 1px solid white;
  border-radius: 1px; }
  .product:hover, .product:active, .product:focus {
    border: 1px solid #ccc; }
  .product a {
    color: black; }
    .product a:hover, .product a:active, .product a:focus {
      text-decoration: none; }
    .product a .image img {
      margin: 0 auto;
      max-width: 100%; }
    .product a .title {
      text-align: center; }

/* -- img on the product page -- */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center; }

/* --- about tabs content --- */
/* -- content container -- */
.contents {
  min-height: 300px;
  margin: 16px 0; }

/* -- calendar -- */
ul.Calendar {
  margin: 32px 0;
  padding: 0 0 0 32px;
  list-style-type: none; }
  @media screen and (min-width: 600px) {
    ul.Calendar {
      padding: 0 0 0 200px; } }
  ul.Calendar li {
    position: relative;
    padding: 16px 0; }
    ul.Calendar li:before {
      display: none;
      content: "";
      position: absolute;
      top: 0px;
      left: -28px;
      height: 100%;
      width: 1px;
      background-color: #ccc; }
      @media screen and (min-width: 600px) {
        ul.Calendar li:before {
          display: block; } }
    ul.Calendar li:after {
      display: block;
      content: "";
      position: absolute;
      top: -2px;
      left: -24px;
      height: 8px;
      width: 8px;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 50%; }
      @media screen and (min-width: 600px) {
        ul.Calendar li:after {
          left: -32px;
          top: 23px; } }
    ul.Calendar li .date {
      position: absolute;
      left: 0px;
      top: -8px;
      width: 100%;
      text-align: left;
      font-weight: bold; }
      @media screen and (min-width: 600px) {
        ul.Calendar li .date {
          left: -184px;
          top: 16px;
          width: 136px;
          text-align: right; } }

/* --- menu styles --- */
.container.navigation {
  z-index: 10;
  position: absolute;
  margin-bottom: 16px;
  top: 0px;
  right: 0px;
  max-width: none !important; }
  .container.navigation:before {
    height: 100%;
    width: 100%;
    display: none;
    content: "";
    position: absolute;
    top: -32px;
    left: 0px;
    background-color: white; }
  @media screen and (max-width: 768px) {
    .container.navigation {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .container.navigation {
      height: 52px;
      position: relative;
      height: 0px; } }
  .container.navigation .dropdown {
    margin: 16px 0 0;
    height: 56px;
    padding-bottom: 16px; }
    @media screen and (min-width: 768px) {
      .container.navigation .dropdown {
        display: none; } }
    .container.navigation .dropdown button {
      height: 40px;
      width: 40px;
      float: right;
      background-color: transparent;
      border: 0px;
      outline: none;
      background-image: url(../img/burger.svg);
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 10px 10px; }
  .container.navigation .dropdown {
    /* to powinno byc .dropdown.open */ }
    .container.navigation .dropdown .dropdown-menu {
      border: 0px;
      box-shadow: none;
      width: calc(100% + 30px);
      left: -15px;
      margin-top: 16px;
      border-radius: 0px; }
      .container.navigation .dropdown .dropdown-menu li a {
        padding: 8px 16px; }
  .container.navigation .menu {
    display: none; }
    @media screen and (min-width: 768px) {
      .container.navigation .menu {
        background-color: white;
        margin: 0px;
        list-style-type: none;
        padding: 15px;
        display: inline-block;
        position: absolute;
        top: -50px;
        left: 15px;
        width: calc(100% - 30px); } }
    .container.navigation .menu a {
      color: black;
      text-decoration: none; }
      .container.navigation .menu a li {
        padding: 8px 16px;
        display: inline; }
    .container.navigation .menu a.active, .container.navigation .menu a:hover, .container.navigation .menu a:focus, .container.navigation .menu a:active {
      text-shadow: 0 0 0px black, 0 0 0px black, 0 0 0px black; }
  .container.navigation .BottomLine {
    display: none; }
    @media screen and (min-width: 768px) {
      .container.navigation .BottomLine {
        height: 10px;
        display: block;
        content: "";
        position: absolute;
        background-color: #1e384f;
        top: 0px;
        left: 15px;
        width: calc(100% - 30px); } }

.container.navigation.open {
  height: 100%; }
  .container.navigation.open:before {
    display: block; }
  .container.navigation.open .dropdown {
    border-bottom: 1px solid #ccc; }
    .container.navigation.open .dropdown button {
      background-image: url(../img/close.svg);
      background-size: 30px 30px;
      background-position: center; }
    .container.navigation.open .dropdown .dropdown-menu {
      display: block; }
      .container.navigation.open .dropdown .dropdown-menu li a {
        font-size: 1.3em;
        display: block;
        color: black; }
        .container.navigation.open .dropdown .dropdown-menu li a:hover, .container.navigation.open .dropdown .dropdown-menu li a:active, .container.navigation.open .dropdown .dropdown-menu li a:focus {
          text-decoration: none;
          text-shadow: 0px 0px 0px black; }
      .container.navigation.open .dropdown .dropdown-menu li.active a {
        font-weight: bold; }

/* --- download links in catalog --- */
.DownloadLinks {
  text-align: center;
  padding: 8px 0;
  border-top: 1px solid #ccc; }
  .DownloadLinks .DownloadLink {
    display: inline-block;
    width: auto; }
  .DownloadLinks .DownloadLink.arrow:before {
    background-image: url(../img/arrow.svg);
    background-size: 16px 15px; }
  .DownloadLinks .DownloadLink.diamond:before {
    background-image: url(../img/diamond.svg); }

/* --- articles baner --- */
.baner {
  position: relative;
  width: 100%;
  height: 450px; }
  .baner .img {
    width: 100%;
    height: 450px;
    display: block;
    content: "";
    background-image: url(../img/nowe/szklo30.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .baner .hacker-line {
    position: absolute;
    bottom: -20px;
    left: 0px;
    display: block;
    content: "";
    height: 20px;
    width: 100%;
    background-color: white;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px); }

/* --- main page baner --- */
.MainPageBaner {
  position: relative;
  width: 100%;
  height: 450px;
  background-size: cover; }
  @media screen and (min-width: 1400px) {
    .MainPageBaner {
      background-position: 0px -95px; } }

/* --- links and search on top of the baner --- */
.LinksAndSearch {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: block;
  top: 0px;
  left: 0px;
  height: 50px; }
  .LinksAndSearch .container-fluid form {
    margin-top: 20px; }
    @media screen and (min-width: 768px) {
      .LinksAndSearch .container-fluid form {
        margin-top: 8px; } }
    .LinksAndSearch .container-fluid form input[type='search'] {
      background-color: transparent;
      border: 0px; }
    .LinksAndSearch .container-fluid form button[type='submit'] {
      background-color: transparent;
      border: 0px;
      outline: none;
      color: transparent;
      position: relative;
      padding-left: 30px; }
      @media screen and (min-width: 768px) {
        .LinksAndSearch .container-fluid form button[type='submit'] {
          color: white; } }
      .LinksAndSearch .container-fluid form button[type='submit']:after {
        position: absolute;
        content: "";
        display: block;
        top: 0px;
        left: 0px;
        height: 28px;
        width: 28px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/magnifier.svg); }
        @media screen and (min-width: 768px) {
          .LinksAndSearch .container-fluid form button[type='submit']:after {
            height: 22px;
            width: 22px;
            background-size: 15px 15px; } }
      @media screen and (min-width: 768px) {
        .LinksAndSearch .container-fluid form button[type='submit']:hover:after, .LinksAndSearch .container-fluid form button[type='submit']:active:after, .LinksAndSearch .container-fluid form button[type='submit']:focus:after {
          background-size: 17px 17px; } }
  .LinksAndSearch .container-fluid a.logo {
    display: block;
    height: 50px;
    width: 50px;
    margin: 16px auto;
    background-color: rgba(255, 255, 255, 0.5); }
    .LinksAndSearch .container-fluid a.logo img {
      margin: 0 auto;
      display: none; }
  .LinksAndSearch .container-fluid a.icon {
    display: inline-block;
    float: right;
    height: 30px;
    width: 25px;
    padding: 15px;
    margin-top: 4px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center; }
    .LinksAndSearch .container-fluid a.icon:hover, .LinksAndSearch .container-fluid a.icon:active, .LinksAndSearch .container-fluid a.icon:focus {
      background-size: 17px 17px; }
  .LinksAndSearch .container-fluid a.icon.social-media-1 {
    background-image: url(../img/facebook.svg); }
  .LinksAndSearch .container-fluid a.icon.social-media-2 {
    background-image: url(../img/google-plus.svg); }

/* --- Admin forms styles --- */
.AdminForms input:-webkit-autofill {
  background-color: transparent; }

.AdminForms .form-group {
  margin-bottom: 35px;
  position: relative; }
  .AdminForms .form-group input[type=text], .AdminForms .form-group input[type=email], .AdminForms .form-group input[type=password] {
    border: 0px;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 2px solid #1e384f;
    padding-left: 0px;
    -ms-transform-origin: 50%;
    /* IE 9 */
    -webkit-transform-origin: 50%; }
    .AdminForms .form-group input[type=text]:hover, .AdminForms .form-group input[type=text]:focus, .AdminForms .form-group input[type=text]:active, .AdminForms .form-group input[type=email]:hover, .AdminForms .form-group input[type=email]:focus, .AdminForms .form-group input[type=email]:active, .AdminForms .form-group input[type=password]:hover, .AdminForms .form-group input[type=password]:focus, .AdminForms .form-group input[type=password]:active {
      outline: none;
      box-shadow: none; }
    .AdminForms .form-group input[type=text]:focus, .AdminForms .form-group input[type=text]:active, .AdminForms .form-group input[type=email]:focus, .AdminForms .form-group input[type=email]:active, .AdminForms .form-group input[type=password]:focus, .AdminForms .form-group input[type=password]:active {
      border-bottom-color: #4984b9;
      transition: all 0.3s ease-in; }
  .AdminForms .form-group button {
    float: right;
    background-color: #1e384f;
    border-radius: 1px;
    border: 2px solid #1e384f;
    color: rgba(255, 255, 255, 0.9);
    text-transform: lowercase;
    min-width: 100px;
    font-weight: 600;
    transition: all 0.3s ease-in-out; }
    .AdminForms .form-group button:hover {
      background-color: transparent;
      color: #1e384f; }
    .AdminForms .form-group button:active, .AdminForms .form-group button:focus {
      border-color: #132331;
      background-color: #132331;
      outline: none;
      box-shadow: none;
      color: rgba(255, 255, 255, 0.7); }
  .AdminForms .form-group .prompt {
    position: absolute;
    left: 0px;
    bottom: -20px;
    color: #1e384f;
    font-size: 12px;
    text-align: left; }

/* --- CMS sightseeing articles list --- */
ul.articles {
  padding: 0px;
  margin: 0px;
  list-style-type: none; }
  ul.articles li {
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc; }
    ul.articles li .actions a.btn {
      margin-right: 16px; }
    ul.articles li .message {
      margin-top: 16px; }
      ul.articles li .message .alert {
        margin-bottom: 0px; }

* {
  margin: 0px;
  padding: 0px; }

html {
  min-height: 100%;
  position: relative; }

body {
  font-family: 'Quicksand', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 370px; }
  @media screen and (min-width: 370px) {
    body {
      margin-bottom: 340px; } }
  @media screen and (min-width: 470px) {
    body {
      margin-bottom: 300px; } }
  @media screen and (min-width: 768px) {
    body {
      margin-bottom: 250px;
      /* to wyzej to sa marginy dla footera */ } }

h1.subtitle {
  text-align: center;
  margin: 48px 0 22px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: 400;
  font-size: 2em; }

.news {
  height: auto;
  padding: 8px 16px;
  background-color: white;
  clear: both;
  position: relative; }
  .news:after {
    position: absolute;
    bottom: 12px;
    left: 15px;
    display: block;
    content: "";
    height: 1px;
    width: calc(100% - 30px);
    background-color: #b1b1b1; }
  .news .left {
    margin: 16px 0px 16px -15px; }
    .news .left img {
      height: 200px; }
  .news .right {
    padding: 16px 45px; }
    .news .right h4 {
      text-transform: uppercase;
      font-size: 24px;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 16px; }
    .news .right p {
      margin-bottom: 32px; }
    .news .right a {
      color: black;
      text-decoration: none; }
      .news .right a span {
        padding: 8px 32px;
        display: inline-block;
        border: 2px solid rgba(0, 0, 0, 0.8);
        border-radius: 1px;
        text-transform: uppercase;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500; }

.news-form {
  display: block; }

/* --- general styles --- */
.clearfix {
  clear: both; }

.LinkFrame {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.1em;
  font-weight: 500; }
  .LinkFrame:hover, .LinkFrame:focus, .LinkFrame:active {
    text-decoration: none;
    color: black; }
  .LinkFrame:focus {
    background-color: rgba(255, 255, 255, 0.5); }
  .LinkFrame:hover {
    background-color: rgba(255, 255, 255, 0.95); }
  .LinkFrame:active {
    background-color: transparent; }

.DownloadLink {
  display: block;
  width: auto;
  padding: 8px 8px 8px 32px;
  margin: 4px 0;
  color: black;
  position: relative;
  float: left;
  clear: both; }
  .DownloadLink:focus, .DownloadLink:hover, .DownloadLink:active {
    color: black; }
  .DownloadLink:before {
    position: absolute;
    top: 10px;
    left: 0px;
    display: block;
    content: "";
    height: 16px;
    width: 16px;
    background-color: white;
    background-image: url(../img/download.png);
    background-size: cover;
    background-position: center; }

.container.articles {
  padding-bottom: 16px; }
  .container.articles .second-image {
    max-width: 50%;
    float: left;
    padding: 0 30px 25px 0; }
    @media screen and (min-width: 550px) {
      .container.articles .second-image {
        max-width: 40%; } }
  .container.articles p {
    text-align: justify; }

.container.articles .margin-distances-in-text > .row {
  margin-top: 16px; }

.container.position-relative {
  padding-bottom: 64px; }

/* --- slick slides -- */
.slick-slide img {
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */