
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="subtitle">HSK Zawiercie</h1>
    </div>
    <div class="col-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <p ng-bind="mainText.text"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="text-align-center">
        <ul class="nav nav-tabs TabNavigation">
          <li class="active" data-toggle="tab"><a ui-sref="about.tabone">Plain text</a></li>
          <li data-toggle="tab"><a ui-sref="about.tabtwo">Calendar</a></li>
          <li data-toggle="tab"><a ui-sref="about.tabthree">Text plus files</a></li>
        </ul>
      </div>
      <div class="contents">
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>