
<div class="row">
  <div class="col-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <p>In interdum consectetur orci, congue elementum sem viverra at. Donec ac orci non orci tristique eleifend. Nulla sit amet ante tellus. Aenean tempor non sem ut varius. Fusce id gravida augue, id fermentum risus. Pellentesque eget urna sed augue fringilla fringilla id lacinia ante. Cras viverra velit sed tortor venenatis, vel condimentum ex dignissim. Phasellus id velit et dui egestas sollicitudin. Proin vitae diam et odio finibus dictum.</p>
    <p>Donec vel fringilla massa, quis condimentum est. Sed id magna ullamcorper metus placerat sollicitudin id ac nunc. Fusce laoreet lacinia nisl, in viverra augue consequat eu. Etiam id posuere ipsum, ac egestas nisi. Praesent eleifend volutpat ante, a pellentesque odio condimentum ut. Donec commodo nulla luctus sollicitudin cursus.</p><a class="DownloadLink" href="../img/favicon.ico" download="download">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a><a class="DownloadLink" href="../img/favicon.ico" download="download">Morbi et dui nec justo dictum sodales in et nibh.</a>
  </div>
</div>