
<div class="container position-relative" style="padding-bottom: 50px;">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="subtitle">Zarządzanie treściami strony</h1>
    </div>
  </div>
  <div class="row AdminForms">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="alert alert-success" role="alert" ng-show="loggedOutMessage">{{loggedOutMessage}}</div>
    </div>
    <div class="col-12 col-sm-6 col-md-5 col-lg-offset-2 col-lg-4">
      <h3>Logowanie</h3>
      <form name="signInForm" ng-submit="signIn(signInForm.$valid)">
        <div class="form-group">
          <input class="form-control" type="email" id="email" ng-model="signInForm.email" placeholder="email" required="required"/><span class="prompt" ng-hide="signInForm.email.$invalid">{{emailMessage}}</span>
        </div>
        <div class="form-group">
          <input class="box form-control" type="password" id="password" ng-model="signInForm.password" placeholder="password" required="required"/><span class="prompt">{{passMessage}}</span>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>