
<div class="container position-relative" ng-controller="CatalogController">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="subtitle">Oferta</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 position-static">
      <div class="hacker-toggle-class" ng-class="{open: open === true}">
        <button class="ShowSubcategories" ng-click="showSubcat()">{{buttonText}}</button>
        <ul class="categories">
          <li ng-repeat="menuItem in menu" ng-class="{active : activeItem === menuItem}"><a ng-click="setMenu(menuItem); showSubcat()">{{menuItem.name}}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-9 col-lg-9">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div ui-view="subcategories"></div>
        </div>
      </div>
      <div ui-view="products"></div>
      
      
      
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <nav class="CustomPagination" aria-label="Page navigation">
            <ul class="pagination">
              <li><a href="" aria-label="Previous"><span aria-hidden-'true="aria-hidden-'true">&larr;</span></a></li>
              <li><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="" aria-label="Next"><span aria-hidden-'true="aria-hidden-'true">&rarr;</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row DownloadLinks">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4"><a class="DownloadLink arrow" href="../img/favicon.ico" download="download">Morbi et dui nec justo</a></div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4"><a class="DownloadLink diamond" href="../img/favicon.ico" download="download">Morbi et dui nec justo</a></div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4"><a class="DownloadLink" href="../img/favicon.ico" download="download">Morbi et dui nec justo</a></div>
      </div>
    </div>
  </div>
</div>