
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="subtitle">Kontakt</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="contact in contacts">
      <h6 ng-bind="contact.title"></h6>
      <p ng-bind="contact.body"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div id="map"></div>
    </div>
    <!-- .row-->
  </div>
</div>
<style>
  #map {
    height: 400px;
    width: 100%;
    margin: 25px 0 16px 0;
  }
  .mb16 {
    margin-bottom: 16px;
  }
</style>
<script>
  var map;
  function initMap() {
    var huta = {lat: 50.483745, lng: 19.420829}
    map = new google.maps.Map(document.getElementById('map'), {
      center: huta,
      zoom: 15
    });
    var marker = new google.maps.Marker({
      position: huta,
      map: map
    });
  }
</script>
<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkRcISWseGVinn69VOIXgRIRVbQ51MvcA&amp;callback=initMap"></script>