
<footer>
  <div class="background-img">
    <div class="container">   
      <div class="row">
        <div class="col-12 col-sm-12 col md-12 col lg-12">
          <h1>HSK Zawiercie</h1>
        </div>
        <div class="col-12 col-sm-12 col md-12 col lg-12">
          <p class="description">
            Huta Szkła Kryształowego "Zawiercie" S.A. jest jednym z najbardziej znanych i docenianych polskich
            producentów szkła kryształowego. Bogata, wielowiekowa tradycja i unikalna ręczna produkcja wyróżnia wyroby
            huty i czyni je łatwo rozpoznawalnymi, dzięki oryginalnemu wzornictwu nieosiągalnemu dla produkcji masowej.
          </p>
        </div>
        <div class="col-12 col-sm-12 col md-12 col lg-12 position-static">
          <div class="button-wrapper"><a class="LinkFrame" ui-sref="about.tabone"><span>see more</span></a></div>
        </div>
        <div class="col-12 col-sm-12 col md-12 col lg-12 position-static">
          <p class="copyrights">&copy; 2017 - Zawiercie S.A.</p>
        </div>
      </div>
    </div>
  </div>
</footer>