
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
  <base href="/"/>
  <title>Huta Szkła Kryształowego "Zawiercie"</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- script(src='js/lib/popper/popper.js')-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="js/lib/bootstrap-4/bootstrap.min.js"></script>
  <script src="js/lib/slick/slick.min.js"></script>
  <script src="js/lib/angular/angular.js"></script>
  <script src="js/lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="js/lib/angular-file-upload/angular-file-upload.js"></script>
  <script src="js/lib/angular-resource/angular-resource.js"></script>
  <script src="js/lib/angular-cookies/angular-cookies.min.js"></script>
  <script src="js/controllers/controllers-module.js"></script>
  <script src="js/services/services-module.js"></script>
  <script src="js/directives/directives-module.js"></script>
  <script src="js/built.js"></script>
  <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-4/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="application/json" href="css/style.css.map"/>
  <link rel="stylesheet" type="text/css" href="js/lib/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="js/lib/slick/slick-theme.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700"/>
  <link href="https://fonts.googleapis.com/css?family=Alice|Amiri|Lusitana|Sorts+Mill+Goudy" rel="stylesheet"/>
</head>