
<script src="../js/lib/masonry/masonry.pkgd.min.js"></script>
<script src="../js/lib/masonry/masonry-js.js"></script>
<script src="../js/lib/masonry/masonry-images.js"></script>
<div class="grid">
  <div class="grid-item" ng-repeat="article in articles">
    <div class="text"><a ui-sref="post({id: article._id})">
        <h1 ng-bind="article.title"></h1></a></div>
    <div class="grid-item_bg-img" ng-style="{ 'background-image': 'url(img/product/' + article.image + ')'}"></div>
  </div>
</div>