
<div class="container articles">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="subtitle">Tytul artykulu-galerii</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="slider">
            <div><img src="img/nowe/products/p1.jpg"/></div>
            <div><img src="img/nowe/products/p2.jpg"/></div>
            <div><img src="img/nowe/products/p3.jpg"/></div>
            <div><img src="img/nowe/products/p4.jpg"/></div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <nav class="CustomPagination" aria-label="Page navigation">
            <ul class="pagination">
              <li><a href="" aria-label="Previous" id="prev"><span aria-hidden-'true="aria-hidden-'true">&larr;</span></a></li>
              <li><a href="" aria-label="Next" id="next"><span aria-hidden-'true="aria-hidden-'true">&rarr;</span></a></li>
            </ul>
          </nav>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <p>
            Ut vel felis quis justo fermentum dapibus. Aenean arcu risus,
             venenatis eu semper ut, accumsan in risus. Pellentesque habitant
              morbi tristique senectus et netus et malesuada fames ac turpis
               egestas. Ut posuere purus lacinia enim condimentum, consequat
                sollicitudin turpis varius. Praesent non gravida erat. Aliquam
                 et erat quis tortor vehicula posuere. Curabitur consectetur,
                  felis venenatis dignissim cursus, nunc nisl blandit nisl, ac
                   elementum lorem nulla ut sem. Cras sagittis nunc hendrerit,
                    scelerisque magna at, sagittis sapien. Vivamus ut mauris
                     non velit egestas luctus in vitae elit. Nunc fringilla
                      risus non augue efficitur tempus. Pellentesque nec
                       tincidunt ligula. Donec cursus vel dolor ullamcorper
                        tempor. Suspendisse ultricies varius sapien sit amet
                         molestie. Quisque in lacinia eros. Nam tincidunt sem
                          in lacus facilisis mollis. Proin lectus nibh,
                           viverra sit amet dignissim eu, pharetra id nibh.
          </p>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="LinkFrameWrapper"><a class="LinkFrame" ui-sref="home">back</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script scr="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
  $('.slider').slick({
    dots: true,
    infinite: true,
    speed: 500,
    fade: true,
    cssEase: 'linear',
    nextArrow: '#next',
    prevArrow: '#prev'
  });
</script>