
<div class="row"> 
  <div class="col-6 col-sm-6 col-md-4 col-lg-4" ng-repeat="product in products">
    <div class="product"><a ui-sref="product({id: product._id})">
        <div class="image"><img src="img/product/shoe4.jpg" alt="product img"/></div>
        <div class="title">
          <h5 ng-bind="product.name"></h5>
        </div></a></div>
  </div>
</div>