
<div class="container">
  <h1>update - kontrolny state sprawdzajacy zalogowanie</h1>
  <div class="well">
    <h3>Czy resolve poszedł dobrze?</h3>
    <h4>{{noError}}</h4>
    <h3>Odpowiedz:</h3>
    <p>{{response}}</p>
  </div>
</div>