<h2>contact</h2>
<div ng-controller="ContactController as contact">
  <form name="formulaszKontaktowy" ng-submit="formulaszKontaktowy.$valid && sendEmail()">
    <input type="text" name="name" placeholder="name" ng-model="name" required>
    <input type="email" name="email" placeholder="email" ng-model="email" required>
    <input type="text" name="title" placeholder="title" ng-model="title" required>
    <input type="text" name="body" placeholder="body" ng-model="body" required>
    <button type="submit" class="senduj">send</button>
  </form>
  <p>{{message}}</p>
</div>
