
  <div ui-view="carousel"></div>



  <script src="js/lib/masonry/masonry.pkgd.min.js"></script>
  <script src="js/lib/masonry/masonry-js.js"></script>
  <script src="js/lib/masonry/masonry-images.js"></script>
  <div>
  <!-- <div class="news row" ng-repeat="news in users">
      <div class="left col-md-4 col-lg-4">
        <img ng-src="img/large-icons/icon{{$index+1}}.jpg"/>
      </div>
      <div class="right col-md-8 col-lg-8">
        <h4>{{news.title}}</h4>
        <p>{{news.body}}</p>
        <a ui-sref="post({id: news._id})"><span>read more</span></a>
      </div>
  </div> -->

  <div class="grid" ng-controller="masonryController"></div>



    <!-- <form class="news-form" name="formulasz" ng-submit="formulasz.$valid && sendNews()">
      <input type="text" name="title" placeholder="title" ng-model="title" required>
      <input type="text" name="body" placeholder="body" ng-model="body" required>
      <button type="submit" class="senduj">send</button>
    </form> -->
  </div>
