<!-- <div ng-controller="NewController as new"> -->
  <h3>{{data.title}}</h3>
  <p>{{data.body}}</p>

  <!-- <p>Email: {{dupa.email}}</p>
  <h4>Address:</h4>
  <p>{{dupa.address.street}}</p>
  <p>{{dupa.address.suite}}</p>
  <p>{{dupa.address.city}}</p>
  <h4>Contact:</h4>
  <p>Phone: {{dupa.phone}}</p>
  <p>Website: {{dupa.website}}</p>
  <p>Email: {{dupa.email}}</p> -->
<!-- </div> -->
