ul
  li
    a(ui-sref='loggedIn.about.main') Main text
  li
    a(ui-sref='loggedIn.about.tabone') Tab one with text
  li
    a(ui-sref='loggedIn.about.tabtwo') Tab two with calendar
  li
    a(ui-sref='loggedIn.about.tabthree') Tab three with text and files
ui-view
