h3 Text in the first tab of the about section
form(name='tabOneForm')
  .form-group
    textarea(class='form-control' rows='6' ng-model='tabOneText.text')
  .form-group
    button(type='button'
          class='btn btn-primary float-right'
          ng-click='save(tabOneForm.$valid && tabOneForm.$dirty)'
          ng-show='visibility') Save
    button(type='button'
          class='btn btn-primary float-right'
          ng-click='update(tabOneForm.$valid && tabOneForm.$dirty, tabOneText._id)'
          ng-hide='visibility') Update
    .clearfix
