
h3 Add a new event
p nie mam walidacji tego ani edit ani delete
form(name='addEvent' class='')
  .form-group
      .row
        //.col-xs-12.col-sm-12.col-md-12.col-lg-12
        label(for='eventDay' class='col-4 col-sm-4') Day:
        label(for='eventMonth' class='col-4 col-sm-4') Month:
        label(for='eventYear' class='col-4 col-sm-4') Year:
      .row
        //.col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-4.col-sm-4.col-md-4.col-lg-4
          select(class='form-control' ng-model='event.date' ng-options='date for date in daysArray')
        .col-4.col-sm-4.col-md-4.col-lg-4
          select(class='form-control' ng-model='event.month' ng-options='month for month in monthsArray')
        .col-4.col-sm-4.col-md-4.col-lg-4
          input(type='number' min='1900' max='2100' class='form-control' ng-model='event.year')
  .form-group
    textarea(class='form-control' rows=3 ng-model='event.body')
  button(type='button' class='btn btn-primary' ng-click='send(true)') Save
div(ng-repeat='event in events')
  .row
    .col-12
      p(ng-bind="event.date | date:'dd/MM/yyyy'")
      p(ng-bind='event.body')
  .row
    .col-12
      button(type='button' class='btn btn-danger float-right' ng-click='delete(event._id)') Delete
      button(type='button' class='btn btn-warning float-right mr-1' ng-click='edit(event)') Edit
      
