h3 Main text of the about section
form(name='mainAboutText')
  .form-group
    textarea(class='form-control' rows='6' ng-model='mainText.text')
  .form-group
    button(type='button' class='btn btn-primary float-right' ng-click='save(true)' ng-show='visibility') Save
    button(type='button' class='btn btn-primatry float-right' ng-click='update(true, mainText._id)' ng-hide='visibility') Update
    .clearfix
