h3 Add an item to the catalog
h4(style='color: red') kategorie
form(name='addItem')
  .form-group
    label(for='itemName') Name:
    input(type='text' id='itemName' ng-model='item.name' class='form-control')
  .form-group
    label(for='itemSecondaryText') Secondary Text:
    input(type='text' id='itemSecondaryText' ng-model='item.secondaryText' class='form-control')
  .form-group
    label(for='itemWeight') Weight:
    input(type='number' id='itemWeight' min='0' ng-model='item.weight' class='form-control')
  p Symbol:
  .form-check
    label(class="form-check-label")
      input(type="radio" ng-model='item.symbol' value='symbol1' class="form-check-input" name='symbol')
      Option 1
  .form-check
    label(class="form-check-label")
      input(type="radio" ng-model='item.symbol' value='symbol2' class="form-check-input" name='symbol')
      Option 2
  .form-check
    label(class="form-check-label")
      input(type="radio" ng-model='item.symbol' value='symbol3' class="form-check-input" name='symbol')
      Option 3
  .form-group
    label(for='itemDescription') Description:
    textarea(class='form-control' ng-model='item.description' rows='3' id='itemDescription')
  .form-group
    button(type='button' class='btn btn-primary float-right' ng-click='submit(addItem.$valid && addItem.$dirty)') Save
    .clearfix

.row
  .col-12
    .list-group
      a(ui-sref='loggedIn.product({id: item._id})' ng-repeat='item in products' class='list-group-item list-group-item-action flex-column align-items-start')
        .d-flex.w-100.justify-content-between
          .w-25.mr-2
            img(src='../img/product/shoe2.jpg' class='img-fluid')
          .w-75.ml-2
            h5(ng-bind='item.name')
            p(ng-bind='item.text')
            small(class='text-muted' ng-bind='(item.description | limitTo: 220) + "..."')
          
