p nie mam kontrollerow do tych nowych stateow, oprocz kawalka tego
p nie ma walidacji edycji kontaktu xD
h3 Add a new contact
form(name='addContact' class='mb-3')
  .form-group
    input(type='text' ng-model='addContact.title' class='form-control')
  .form-group
    textarea(type='text' rows='4' ng-model='addContact.body' class='form-control')
  button(class='btn btn-primary' ng-click='send(addContact.$valid && addContact.$dirty)') Add    

h3 Edit existing contacts
.row
  div(ng-repeat='contact in contacts' class='col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-2')
    h5(ng-bind='contact.title' ng-hide="$index == editable")
    p(ng-bind='contact.body' ng-hide="$index == editable")
    form(ng-show="$index == editable" name="editionForm_{{$index}}" novalidate)
      .form-group
        input(type='text' ng-model='contact.title' class='form-control')
      .form-group
        textarea(type='text' ng-model='contact.body' rows='3' class='form-control')
      button(class='btn btn-primary float-right' ng-click='saveChanges(contact)') Save changes
      button(class='btn btn-warning float-right mr-1' ng-click='cancel()') Cancel
      .clearfix
    div(class='row' ng-hide="$index == editable")
      .col.xs-12.col-sm-12.col-md-12.col-lg-12
        button(class='btn btn-danger float-right' ng-click='remove(contact._id)') Delete
        button(class='btn btn-warning float-right mr-1' ng-click='edit($index)') Edit
        .clearfix
