.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    div(class='alert alert-{{class}}' role='alert' ng-show='responseMessage')
      button(type="button" class="close" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;
      p {{responseMessage}} 
  .col-xs-12.col-sm-12.col-md-12.col-lg-12      
    form(name='mainPageArticle' ng-submit='send(mainPageArticle.$valid)')
      .form-group
        //-label(for='email') email:
        input(type='text' class='form-control' id='title' ng-model='mainPageArticle.title' placeholder='The articles title' required)
        //- span(class='prompt' ng-hide='signInForm.email.$invalid') {{emailMessage}}
      .form-group
        //-label(for='password') password:
        textarea(type='text' class='box form-control' id='body' ng-model='mainPageArticle.body' placeholder='The articles body' rows='4' required)
        //- span(class='prompt') {{passMessage}}
      .form-group
        input(type='text' class='form-control' id='image' ng-model='mainPageArticle.image' placeholder='The articles image name with extention, e.g. image.jpg' required)
      .form-group
        button(class='btn btn-default float-right' type='submit') Save
        .clearfix
    ul.articles
      li(ng-repeat='article in articles' ng-hide='article.hide')
        .message
          div(class="alert alert-success fade in" role="alert" ng-show='article.message')
            button(type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click='hide(article)')
              span(aria-hidden="true") &times;
            p {{article.message}}
        div(class='content' ng-hide='article.message')
          h3 {{article.title}}
          p {{ article.body}}
          .images
            img(ng-show='article.image' ng-src="{{'/img/product/' + article.image}}" class='img-thumbnail float-left' style='max-width: 100px') 
            .clearfix
          .actions
            button(class='btn btn-danger float-right'
            type="button" data-toggle="modal" data-target="#myModal"
            ng-click='launchModal(article)') Delete
            a(class='btn btn-warning float-right' ui-sref='loggedIn.mainPageArticle({id: article._id, article: article})') Edit
            .clearfix
  

  div(class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h4(class="modal-title" id="myModalLabel") Are you sure you would like to delete the following article?
        div(class="modal-body")
          h2 {{title}}
        div(class="modal-footer")
          button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
          button(type="button" class="btn btn-danger" ng-click='delete(articleToDelete)' data-dismiss="modal") Confirm deletion
