div(class='alert alert-{{class}}' role='alert' ng-show='showMessage')
  button(type="button" class="close" data-dismiss="alert" aria-label="Close")
    span(aria-hidden="true") &times;
  p(ng-bind='responseMessage' style='display: inline')
  a(ui-sref='loggedIn.sightseeing' ng-show='showMessage' class='alert-link') powróć do listy wszystkich artykułów
form(name='updateSightseeingArticle')
  div(class="form-group")
    //-label for="exampleInputEmail1"Email address/label
    input(type="text" class="form-control" ng-model='title' placeholder='Edit the title' required)
  div(class="form-group")
    //-label for="exampleInputPassword1"Password/label
    textarea(type="text" class="form-control" ng-model='body' rows='10' placeholder='Edit the body' required)
  button(type="submit" class="btn btn-success float-right"  ng-click='save(updateSightseeingArticle.$valid && updateSightseeingArticle.$dirty)') Submit
  .clearfix
