
<h3>Text in the third tab of the about section</h3>
<form name="tabOneText">
  <div class="form-group">
    <textarea class="form-control" rows="6"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary float-right" type="button" ng-click="save(tabOnetText.$valid &amp;&amp; mainAboutText.$dirty)">Save</button>
    <div class="clearfix"></div>
  </div>
</form>
<h3>Add files to be downloaded by users</h3>
<div nv-file-drop="" uploader="uploader">
  <div ng-show="uploader.isHTML5">
    <div class="jumbotron my-drop-zone" nv-file-over="" uploader="uploader">
      <Base>drop zone</Base>
    </div>
  </div>
  <label class="custom-file">
    <input class="custom-file-input" type="file" nv-file-select="nv-file-select" uploader="uploader"/><span class="custom-file-control">Browse</span>
  </label>
  <ul class="list-group my-4">
    <li class="list-group-item" ng-repeat="item in uploader.queue"><span ng-bind="item.file.name"></span>
      <div class="item-progress-box progress my-3">
        <div class="item-progress progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': item.progress + '%' }"></div>
      </div>
      <button class="btn btn-info" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">Upload</button>
      <button class="btn btn-warning" ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancel</button>
      <button class="btn btn-danger" ng-click="item.remove()">Remove</button>
    </li>
  </ul>
  <div>
    <div><span>Total progress: </span><span ng-bind="uploader.progress"></span>
      <div class="total-progress-box progress my-3">
        <div class="total-progress progress-bar progress-bar-striped progress-bar-animated bg-success" ng-style="{ 'width': uploader.progress + '%' }" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <button class="btn btn-info" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">Upload all</button>
    <button class="btn btn-warning" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">Cancel all</button>
    <button class="btn btn-danger" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">Remove all</button>
  </div>
</div>