
<ul>
  <li><a ui-sref="loggedIn.about.main">Main text</a></li>
  <li><a ui-sref="loggedIn.about.tabone">Tab one with text</a></li>
  <li><a ui-sref="loggedIn.about.tabtwo">Tab two with calendar</a></li>
  <li><a ui-sref="loggedIn.about.tabthree">Tab three with text and files</a></li>
</ul>
<ui-view></ui-view>