
<p>nie mam kontrollerow do tych nowych stateow, oprocz kawalka tego</p>
<p>nie ma walidacji edycji kontaktu xD</p>
<h3>Add a new contact</h3>
<form class="mb-3" name="addContact">
  <div class="form-group">
    <input class="form-control" type="text" ng-model="addContact.title"/>
  </div>
  <div class="form-group">
    <textarea class="form-control" type="text" rows="4" ng-model="addContact.body"></textarea>
  </div>
  <button class="btn btn-primary" ng-click="send(addContact.$valid &amp;&amp; addContact.$dirty)">Add    </button>
</form>
<h3>Edit existing contacts</h3>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-2" ng-repeat="contact in contacts">
    <h5 ng-bind="contact.title" ng-hide="$index == editable"></h5>
    <p ng-bind="contact.body" ng-hide="$index == editable"></p>
    <form ng-show="$index == editable" name="editionForm_{{$index}}" novalidate="novalidate">
      <div class="form-group">
        <input class="form-control" type="text" ng-model="contact.title"/>
      </div>
      <div class="form-group">
        <textarea class="form-control" type="text" ng-model="contact.body" rows="3"></textarea>
      </div>
      <button class="btn btn-primary float-right" ng-click="saveChanges(contact)">Save changes</button>
      <button class="btn btn-warning float-right mr-1" ng-click="cancel()">Cancel</button>
      <div class="clearfix"></div>
    </form>
    <div class="row" ng-hide="$index == editable">
      <div class="col xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-danger float-right" ng-click="remove(contact._id)">Delete</button>
        <button class="btn btn-warning float-right mr-1" ng-click="edit($index)">Edit</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>