
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-{{class}}" role="alert" ng-show="responseMessage">
      <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p>{{responseMessage}} </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">     
    <form name="mainPageArticle" ng-submit="send(mainPageArticle.$valid)">
      <div class="form-group">
        <input class="form-control" type="text" id="title" ng-model="mainPageArticle.title" placeholder="The articles title" required="required"/>
      </div>
      <div class="form-group">
        <textarea class="box form-control" type="text" id="body" ng-model="mainPageArticle.body" placeholder="The articles body" rows="4" required="required"></textarea>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" id="image" ng-model="mainPageArticle.image" placeholder="The articles image name with extention, e.g. image.jpg" required="required"/>
      </div>
      <div class="form-group">
        <button class="btn btn-default float-right" type="submit">Save</button>
        <div class="clearfix"></div>
      </div>
    </form>
    <ul class="articles">
      <li ng-repeat="article in articles" ng-hide="article.hide">
        <div class="message">
          <div class="alert alert-success fade in" role="alert" ng-show="article.message">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close" ng-click="hide(article)"><span aria-hidden="true">&times;</span></button>
            <p>{{article.message}}</p>
          </div>
        </div>
        <div class="content" ng-hide="article.message">
          <h3>{{article.title}}</h3>
          <p>{{ article.body}}</p>
          <div class="images"><img class="img-thumbnail float-left" ng-show="article.image" ng-src="{{'/img/product/' + article.image}}" style="max-width: 100px;"/>
            <div class="clearfix"></div>
          </div>
          <div class="actions">
            <button class="btn btn-danger float-right" type="button" data-toggle="modal" data-target="#myModal" ng-click="launchModal(article)">Delete</button><a class="btn btn-warning float-right" ui-sref="loggedIn.mainPageArticle({id: article._id, article: article})">Edit</a>
            <div class="clearfix"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Are you sure you would like to delete the following article?</h4>
        </div>
        <div class="modal-body">
          <h2>{{title}}</h2>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" type="button" ng-click="delete(articleToDelete)" data-dismiss="modal">Confirm deletion</button>
        </div>
      </div>
    </div>
  </div>
</div>