
<h1>main page article</h1>
<p>To jest kopia z edycji artykułu z sightseeing. Jest do tego poczatek kontrollera.</p>
<div class="alert alert-{{class}}" role="alert" ng-show="showMessage">
  <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p ng-bind="responseMessage" style="display: inline;"></p><a class="alert-link" ui-sref="loggedIn.sightseeing" ng-show="showMessage">powróć do listy wszystkich artykułów</a>
</div>
<form name="updateSightseeingArticle">
  <div class="form-group">
    <input class="form-control" type="text" ng-model="title" placeholder="Edit the title" required="required"/>
  </div>
  <div class="form-group">
    <textarea class="form-control" type="text" ng-model="body" rows="10" placeholder="Edit the body" required="required"></textarea>
  </div>
  <div class="images"><img class="img-thumbnail float-left" ng-show="image" ng-src="{{'/img/product/' + image}}" style="max-width: 100px;"/>
    <div class="clearfix">   </div>
  </div>
  <button class="btn btn-success float-right" type="submit" ng-click="save(updateSightseeingArticle.$valid &amp;&amp; updateSightseeingArticle.$dirty)">Submit</button>
  <div class="clearfix"></div>
</form>