.container
  .row
    .col-12.col-sm-12.col-md-12.col-lg-12
      h1.subtitle HSK Zawiercie
    .col-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
      p(ng-bind='mainText.text')
  .row
    .col-12.col-sm-12.col-md-12.col-lg-12
      .text-align-center
        ul.nav.nav-tabs.TabNavigation
          li(data-toggle='tab' class='active')
            a(ui-sref='about.tabone') Plain text
          li(data-toggle='tab')
            a(ui-sref='about.tabtwo') Calendar
          li(data-toggle='tab')
            a(ui-sref='about.tabthree') Text plus files

      .contents
        ui-view
