div(class='MainPageBaner' ng-controller='BannerController')
  
  //- div(colorify-main-color style='display: none')
  //-   img(src='img/nowe/slider/slider2mini.jpg' colorify style='display: none' id='banner')

//- script.
//-   colorify({
//-   id: 1,
//-   attr: 'colorify',
//-   container: 'colorify-main-color',
//-   images: false,
//-   accuracy: 1000,
//-   color: false,
//-   gradient: false,
//-   padding: 0,
//-   lazyReveal: false,
//-   giveTo: false,
//-   revealOn: {
//-     event: 'onload',
//-     trigger: '#banner'
//-   },
//-   images: [
//-   'img/nowe/slider/slider2mini.jpg'
//-   ],
//-   give: {
//-     property: 'background-color',
//-     target: '.BottomLine'
//-   }
//-   });
//-   document.querySelector('.image-container').style.padding = '0px';
