.container
  .row
    .col-12.col-sm-12.col-md-12.col-lg-12
      h1.subtitle Kontakt
  .row
    div(ng-repeat='contact in contacts' class='col-xs-12 col-sm-12 col-md-6 col-lg-6')
      h6(ng-bind='contact.title')
      p(ng-bind='contact.body')
  .row
    .col-12.col-sm-12.col-md-6.col-lg-6
      #map
    // .row
    //- formularz kontaktowy do wysylania maili
    //- .col-12.col-sm-12.col-md-6.col-lg-6
    //-   h3 Formularz kontaktowy        
    //-   div(class='mb16' ng-controller='ContactController as contact')
    //-     form(name='formulaszKontaktowy' ng-submit='formulaszKontaktowy.$valid && sendEmail()')
    //-       .form-group
    //-         input(class='form-control' type='text' name='name' placeholder='name' ng-model='name' required)
    //-       .form-group
    //-         input(class='form-control' type='email' name='email' placeholder='email' ng-model='email' required)
    //-       .form-group
    //-         input(class='form-control' type='text' name='title' placeholder='title' ng-model='title' required)
    //-       .form-group
    //-         input(class='form-control' type='text' name='body' placeholder='body' ng-model='body' required)
    //-       button(type='submit' class='btn btn-warning senduj') send
    //-     p {{message}}
style.
  #map {
    height: 400px;
    width: 100%;
    margin: 25px 0 16px 0;
  }
  .mb16 {
    margin-bottom: 16px;
  }
script.
  var map;
  function initMap() {
    var huta = {lat: 50.483745, lng: 19.420829}
    map = new google.maps.Map(document.getElementById('map'), {
      center: huta,
      zoom: 15
    });
    var marker = new google.maps.Marker({
      position: huta,
      map: map
    });
  }
script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCkRcISWseGVinn69VOIXgRIRVbQ51MvcA&callback=initMap')
