script(src='../js/lib/masonry/masonry.pkgd.min.js')
script(src='../js/lib/masonry/masonry-js.js')
script(src='../js/lib/masonry/masonry-images.js')
div(class='grid')
  div(class='grid-item' ng-repeat='article in articles')
    .text
      a(ui-sref='post({id: article._id})')
        h1(ng-bind='article.title')
    div(class="grid-item_bg-img" ng-style="{ 'background-image': 'url(img/product/' + article.image + ')'}")




//- div(class='grid' ng-controller='masonryController')
//-   .grid-item.grid-item---heightx2.hacker-mockup
//-     .text
//-       a(ui-sref="post({id: 1})")
//-         h1 {{ data[0].title }}
//-     div(class="grid-item_bg-img" style="background-image: url(img/nowe/szklo7.jpg);")
//-   |
//-   |
//-   .grid-item.grid-item---widthx2
//-     .text
//-       a(ui-sref="post({id: 1})")
//-         h1 {{ data[1].title }}
//-     div(class="grid-item_bg-img" style="background-image: url(img/nowe/szklo28-s.jpg);")
//-   |
//-   |
//-   .grid-item
//-     .text
//-       a(ui-sref="post({id: 1})")
//-         h1 {{ data[2].title }}
//-     div(class="grid-item_bg-img" style="background-image: url(img/nowe/szklo3.jpg);")
//-   |
//-   |
//-   .grid-item
//-     .text
//-       a(ui-sref="post({id: 1})")
//-         h1 {{ data[3].title }}
//-     div(class="grid-item_bg-img" style="background-image: url(img/nowe/szklo4.jpg);")
//-   |
//-   |
//-   .grid-item
//-     .text
//-       a(ui-sref="post({id: 1})")
//-         h1 {{ data[4].title }}
//-     div(class="grid-item_bg-img" style="background-image: url(img/nowe/szklo22.jpg);")
//-   |
//-   |
//-   .grid-item
//-     .text
//-       a(ui-sref="post({id: 1})")
//-         h1 {{ data[4].title }}
//-     div(class="grid-item_bg-img" style="background-image: url(img/nowe/szklo25.jpg);")
//-   |
//-   |
//-   .grid-item.grid-item---heightx2
//-     .text
//-       a(ui-sref="post({id: 1})")
//-         h1 {{ data[4].title }}
//-     div(class="grid-item_bg-img" style="background-image: url(img/nowe/szklo26.jpg);")
//-   |
//-   |
//-   .grid-item
//-     .text
//-       a(ui-sref="post({id: 1})")
//-         h1 {{ data[4].title }}
//-     div(class="grid-item_bg-img" style="background-image: url(img/nowe/szklo27.jpg);")
//-   |
//-   |
//-   .grid-item
//-     .text
//-       a(ui-sref="post({id: 1})")
//-         h1 {{ data[4].title }}
//-     div(class="grid-item_bg-img" style="background-image: url(img/nowe/szklo23.jpg);")
