<!DOCTYPE html>
html
  include head.pug
  |
  |
  body(ng-app='app')
    .LinksAndSearch
      .container-fluid
        .row
          .col-4.col-sm-4.col-md-4.col-lg-4
            form
              button(type='submit') szukaj
              input(type='search')              
          .col-4.col-sm-4.col-md-4.col-lg-4
            a(href='' class='logo')
              img(src='img/logo2.png' class="img-responsive")
          .hidden-xs.col-sm-4.col-md-4.col-lg-4
            a(href='' class='icon social-media-1')
            a(href='' class='icon social-media-2')
              
    div(ui-view='carousel')
    .container.navigation#navigation
      .dropdown
        button(class='' type='button' id='dropdownMenu1')
        ul(class='dropdown-menu')
          li
            a(ui-sref='home') home
            a(ui-sref='about.tabone') about
            a(ui-sref='sightseeing') sightseeing
            a(ui-sref='catalog') catalog
            a(ui-sref='contact') contact
            a(ui-sref='admin') CMS
      |
      |
      div(ng-controller='MenuController as menu')
        ul.menu
          a(ng-repeat='item in dupa' ui-sref='{{item.link}}' ui-sref-active='active')
            li {{item.name}}
        .BottomLine
    ui-view
    div(ui-view='footer')
    //-script(src='../js/lib/color-picker.js')
    script.
      var screenWidth = function(minWidth, iterator) {
        var interval = window.matchMedia('(min-width: ' + minWidth + 'px)');
        if(interval.matches) {
          minWidth += iterator;
          
          return screenWidth(minWidth, iterator);
        } else {
          return minWidth - iterator;
        }
      }
      var toggleNav = function() {
        var container = document.querySelector("#navigation");
        if (container.className == "container navigation open") {
          container.className = "container navigation";
        } else {
          container.className += " open";
        }
      }
      document.querySelector("#dropdownMenu1").addEventListener('click', toggleNav);
      document.querySelector(".dropdown-menu").addEventListener('click', toggleNav);
      
