div(class='container position-relative')
  .row
    .col-12.col-sm-12.col-md-12.col-lg-12
      h1.subtitle {{title}}
  .row
    .col-12.col-sm-3.col-md-3.col-lg-3.position-static
      div(class='hacker-toggle-class' ng-class='{open: open === true}')
        button(class='ShowSubcategories' ng-click='showSubcat()') {{buttonText}}
        ul.categories
          li(ng-repeat='menuItem in menu' ng-class='{active : activeItem === menuItem}')
            a(ng-click='setMenu(menuItem); showSubcat()' ui-sref='{{menuItem.link}}') {{menuItem.name}}
          //- li
          //-   a(ui-sref='update') update
          li
            a(ng-click='logout()') sign out
    .col-12.col-sm-9.col-md-9.col-lg-9
      ui-view
