.container
  .row
    .col-12.col-sm-12.col-md-12.col-lg-12
      h1.subtitle Oferta
    .col-12.col-sm-12.col-md-12.col-lg-12
      nav
        ol.breadcrumb.custom
          li.breadcrumb-item
            a(ui-sref='home') home
          li.breadcrumb-item
            a(ui-sref='contact') contact
          li.breadcrumb-item
            a(ui-sref='catalog') catalog
  .row
    .col-12.col-sm-5.col-md-6.col-lg-6.image-container
      img(class='img-fluid product-image' src='img/nowe/products/p7.jpg')
    .col-12.col-sm-7.col-md-6.col-lg-6
      .table.small
        table
          tr
            td(colspan='2' ng-bind='product.name') dddfsdsdsd
          tr
            th P
            th(colspan='2' ng-bind='product.text') Lorem ipsum dolor
          tr
            td
            td(ng-bind='product.weight')
            td(ng-bind='product.symbol')
          
      .despcription
        p(ng-bind='product.description')
  .row
    .col-12.col-sm-12.col-md-12.col-lg-12
      .LinkFrameWrapper
        a(class="LinkFrame" ui-sref='catalog') back
