.row 
  div(ng-repeat='product in products' class='col-6 col-sm-6 col-md-4 col-lg-4')
    .product
      a(ui-sref='product({id: product._id})')
        .image
          img(class='' src='img/product/shoe4.jpg' alt='product img')
        .title
          h5(ng-bind='product.name')
