.container.articles
  .row
    .col-12.col-sm-12.col-md-12.col-lg-12
      h1.subtitle Tytul artykulu opisowego
  .row
    .col-12.col-sm-12.col-md-12.col-lg-12.margin-distances-in-text
      .row
        .col-12.col-sm-12.col-md-12.col-lg-12
          img(class='float-right' style='max-width: 50%; padding: 0 0 15px 15px' src='img/nowe/szklo30.jpg')
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate
             sit amet augue at pellentesque. Nullam lorem neque, ullamcorper blandit
              dolor et, tristique scelerisque ante. Nam quis turpis quam. Ut lobortis
               mauris nec porttitor pretium. Vivamus ut elementum neque, sit amet
                laoreet libero. Nullam vehicula varius sapien, tincidunt faucibus
                 magna porta eu. In tempor diam a nunc porta congue. Sed vehicula
                  molestie erat ac suscipit. 
      .row
        //- .col-12.col-sm-6.col-md-4.col-lg-4          
        //- .col-12.col-sm-6.col-md-8.col-lg-8
        .col-12.col-sm-12.col-md-12.col-lg-12
          img(class='second-image float-left' style='max-width: 50%; padding: 0 15px 15px 0' src='img/nowe/szklo9.jpg')
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate
             sit amet augue at pellentesque. Nullam lorem neque, ullamcorper blandit
              dolor et, tristique scelerisque ante. Nam quis turpis quam. Ut lobortis
               mauris nec porttitor pretium. Vivamus ut elementum neque, sit amet
                laoreet libero. Nullam vehicula varius sapien, tincidunt faucibus
                 magna porta eu. In tempor diam a nunc porta congue. Sed vehicula
                  molestie erat ac suscipit.
          p.
            Donec facilisis nulla a hendrerit porttitor. Ut posuere tellus
             lectus, et ultricies diam auctor et. Morbi sollicitudin fringilla
              purus ut viverra. Fusce commodo turpis metus, et pulvinar arcu
               tincidunt ut. Duis vel porttitor justo. Nulla ligula dui, feugiat
                et lacus non, placerat fermentum justo. Nam eget odio lacus.
                 Nam odio felis, ullamcorper eu justo non, consectetur dapibus
                  odio. Fusce sed dolor in lacus aliquam varius. Phasellus
                   efficitur nisl at egestas viverra. Aliquam turpis metus,
                    feugiat consectetur elementum sed, tincidunt commodo lorem.
                     Etiam iaculis neque id tempor sollicitudin. Praesent
                      vulputate dignissim nisl at consequat. Aliquam erat
                       volutpat. Aenean finibus massa ut ullamcorper tempus.
                        Duis non nulla nulla.
          p.
            Ut vel felis quis justo fermentum dapibus. Aenean arcu risus,
             venenatis eu semper ut, accumsan in risus. Pellentesque habitant
              morbi tristique senectus et netus et malesuada fames ac turpis
               egestas. Ut posuere purus lacinia enim condimentum, consequat
                sollicitudin turpis varius. Praesent non gravida erat. Aliquam
                 et erat quis tortor vehicula posuere. Curabitur consectetur,
                  felis venenatis dignissim cursus, nunc nisl blandit nisl, ac
                   elementum lorem nulla ut sem. Cras sagittis nunc hendrerit,
                    scelerisque magna at, sagittis sapien. Vivamus ut mauris
                     non velit egestas luctus in vitae elit. Nunc fringilla
                      risus non augue efficitur tempus. Pellentesque nec
                       tincidunt ligula. Donec cursus vel dolor ullamcorper
                        tempor. Suspendisse ultricies varius sapien sit amet
                         molestie. Quisque in lacinia eros. Nam tincidunt sem
                          in lacus facilisis mollis. Proin lectus nibh,
                           viverra sit amet dignissim eu, pharetra id nibh.
      .row
        .col-12.col-sm-12.col-md-12.col-lg-12
          p.
            Ut vel felis quis justo fermentum dapibus. Aenean arcu risus,
             venenatis eu semper ut, accumsan in risus. Pellentesque habitant
              morbi tristique senectus et netus et malesuada fames ac turpis
               egestas. Ut posuere purus lacinia enim condimentum, consequat
                sollicitudin turpis varius. Praesent non gravida erat. Aliquam
                 et erat quis tortor vehicula posuere. Curabitur consectetur,
                  felis venenatis dignissim cursus, nunc nisl blandit nisl, ac
                   elementum lorem nulla ut sem. Cras sagittis nunc hendrerit,
                    scelerisque magna at, sagittis sapien. Vivamus ut mauris
                     non velit egestas luctus in vitae elit. Nunc fringilla
                      risus non augue efficitur tempus. Pellentesque nec
                       tincidunt ligula. Donec cursus vel dolor ullamcorper
                        tempor. Suspendisse ultricies varius sapien sit amet
                         molestie. Quisque in lacinia eros. Nam tincidunt sem
                          in lacus facilisis mollis. Proin lectus nibh,
                           viverra sit amet dignissim eu, pharetra id nibh.
|
|
|
